<h4 class="stit">다문화사회 전문가란?</h4>
<p class="paragraph">
    사회통합프로그램이나 조기적응프로그램 등 이민자 대상의 사회통합 지원 정책에서 강사 등으로 활동할 수 있는 전문 인력
</p>
<div class="majorSystem mTop20">
    <p><img alt="" src="http://stgimg.cuk.edu/practicum/mi/img_sw_main.png"> </p>
</div>
<div class="summary-wrapper top blue stage3 mTop20">
    <!-- box -->
    <div class="box">
        <div class="text title">직업분야</div>
        <div class="text con">
            <div class="paragraph">다문화코디네이터, 다문화 언어발달지도사, 결혼이민자 통번역지원사</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">핵심능력</div>
        <div class="text con">
            <div class="paragraph">창의력, 언어능력, 대인관계능력</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">사회이슈</div>
        <div class="text con">
            <div class="paragraph">2020 다문화가족지원 사업설명회 개최</div>
        </div>
    </div>
    <!-- //box -->
</div>
<!-- //box-wrapper -->
<div class="summary-wrapper bottom blue stage3">
    <!-- box -->
    <div class="box">
        <div class="text title">관련 자격증</div>
        <div class="text con">
            <div class="paragraph">한국어교원, 다문화사회전문가</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">고려사이버대<br>다문화·국제협력전공 재학생<p class="addTxt">(2020 신편입생 미포함)</p>
        </div>
        <div class="text con">
            <ul class="desc">
                <li>20대 이하 : 16.7%</li>
                <li>30대 : 19.4%</li>
                <li>40대 이상 : 64.9%</li>
            </ul>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">고려사이버대<br>관련학과</div>
        <div class="text con">
            <div class="paragraph"><strong class="underline">다문화·국제협력전공</strong>, 한국어교육전공</div>
        </div>
    </div>
    <!-- //box -->
</div>
<!-- //box-wrapper -->
<div class="flex-box">
    <div class="addTxt mTop10 left-auto">
        (출처 : '커리어넷 직업정보 19.10 일부 발췌)
    </div>
</div>
<h4 class="stit mTop40">다문화사회 전문가의 직무</h4>
<div class="majorSystem mTop20">
    <p><img alt="다문화사회 전문가의 직무 : 하단설명참고" src="http://stgimg.cuk.edu/practicum/mi/img_diagram.png"> </p>
    <p class="imageView">
        <a title="새창" class="btnType type0" href="http://stgimg.cuk.edu/practicum/mi/img_diagram.png" target="_blank">
            <span class="inner">
                <span class="bg type0">확대 보기</span>
            </span>
        </a>
    </p>
    <div class="blind">
        <dl>
            <dt>다문화사회 전문가</dt>
            <dd>'한국사회이해'과정 교육</dd>
            <dd>다문화 상호문화교육</dd>
            <dd>다문화가족 및 이주민상담</dd>
            <dd>이민행정분야 교육</dd>
            <dd>사회통합프로그램 구술면접관</dd>
            <dd>한국사회적응교육 (다문화 가정 자녀 및 이주아동 청소년)</dd>
        </dl>
    </div>
</div>
<h4 class="stit mTop40">자격증 취득 후 진로</h4>
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="tableType type0 top0 special-col-table-wrapper mTop0 table-overflow">
    <table>
        <caption>
            캡션캡션캡션
        </caption>
        <colgroup>
            <col style="width: 275px;">
            <col style="width: 275px;">
            <col style="width: 150px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">관련기관</th>
                <th scope="col">관련업무</th>
                <th scope="col">대학원 진학</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="leftTxt firstCell">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>국내외 한국어 및 한국문화교육기관</li>
                                <li>해외 대학의 한국어교육기관</li>
                                <li>법무부 사회통합프로그램운영기관(현재 300여개 기관, 향후 확대 예정)</li>
                                <li>외국인근로자지원센터</li>
                                <li>다문화가족지원센터</li>
                                <li>다문화가족상담센터</li>
                                <li>건강가정지원센터</li>
                                <li>이주여성지원센터</li>
                                <li>이주여성쉼터</li>
                                <li>전국 자원봉사센터 및 다문화 관련 NGO</li>
                                <li>전국 평생교육기관</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>각종 사회복지기관의 사회통합프로그램 담당자</li>
                                <li>이민·다문화인 대상 사회통합프로그램의 전문강사</li>
                                <li>학교 다문화교육의 다문화코디네이터 및 전문교사</li>
                                <li>다문화가정의 한국어 및 한국문화교육 담당자</li>
                                <li>국내외 한국학교 및 한글학교의 한국어교사</li>
                                <li>한국 및 외국 기업체 근무 외국인 대상 한국어 교사</li>
                                <li>국내외 세종학당 및 세종교실, 국외 한국문화원, 한글학교, 한국교육원의 한국어교사</li>
                                <li>한국국제협력단의 한국어교육 봉사단</li>
                                <li>지방자치단체 다문화관리 담당 공무원</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>일반대학원</li>
                                <li>국제지역대학원</li>
                                <li>특수대학원</li>
                                <li>전문대학원</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h4 class="stit mTop40">문의처</h4>
<h5 class="sListTit type0 mTop0">법무부 사회통합프로그램정보망</h5>
<p class="paragraph">- 전화 : 국번없이 1345</p>
<div class="mTop10">
    <a title="새창" class="btnType type5" href="http://www.socinet.go.kr" target="_blank"><span class="inner">바로가기</span></a>
</div>