<h4 class="stit">수료증 취득절차</h4>
<div class="boxType type1">
    <div class="flex-box">
        <div>
            <h5 class="sListTit">법무부 사회통합프로그램정보망 </h5>
            <p class="paragraph">- 전화 : 국번없이 1345</p>
        </div>
        <div class="left-auto">
            <a title="새창" class="btnType type5" href="http://www.socinet.go.kr" target="_blank"><span class="inner">바로가기</span></a>
        </div>
    </div>
</div>
<!-- 절차 -->
<div class="step-wrap license mTop30">
    <div class="box step01">
        <div class="step-box">
            <span class="title">1단계</span>
        </div>
        <div class="step-con-box bg">
            <span>고려사이버대학교 입학</span>
        </div>
        <div class="step-con-box">
            다문화사회국제협력 전공 (<span class="addTxt">구, 국제협력·다문화전공</span>)<br>(타학과 가능)
        </div>
    </div>
    <div class="box step02">
        <div class="step-box">
            <div class="step-triangle"></div>
            <span class="title">2단계</span>
        </div>
        <div class="half-box">
            <div class="step-con-box half">필수과목 5과목(15학점) 이상<br><span class="addTxt">(2016학년도 이후에 개설된 과목)</span></div>
            <span class="plus"></span>
            <div class="step-con-box half">선택과목 3과목(9학점) 이상<br><span class="addTxt">(2016학년도 이후에 개설된 과목)</span></div>
        </div>
    </div>
    <div class="box step03">
        <div class="step-box">
            <div class="step-triangle"></div>
            <span class="title">3단계</span>
        </div>
        <div class="step-con-box">학부 졸업</div>
    </div>
    <div class="box step04">
        <div class="step-box">
            <div class="step-triangle"></div>
            <span class="title">4단계</span>
        </div>
        <div class="step-con-box bg">
            <span>『법무부장관이 정하는 교육』을 이수한 자</span>
        </div>
        <!-- list box -->
        <div class="list-box-wrapper">
            <!-- section 2단 -->
            <div class="section">
                <!-- list-box -->
                <div class="list-box  stage-2">
                    <div class="title"><span>1</span>학생<div class="arrow type02"></div>기관</div>
                    <div class="con">
                        <div class="con-box normal">법무부에서 위탁한 기관에서 오프라인으로 15시간 이수 후 이수증 발급 신청
                            <br><span class="addTxt">(하단참고)</span></div>
                        <!-- 1단 +  기본 -->
                    </div>
                </div>
                <!-- list-box -->
                <!-- list-box -->
                <div class="list-box stage-2">
                    <div class="title"><span>2</span>수료증 발급</div>
                    <div class="con">
                        <div class="con-box normal">다문화사회 전문가 2급 수료증 취득</div>
                        <!-- 1단 +  기본 -->
                    </div>
                </div>
                <!-- list-box -->
            </div>
            <!-- //section 2단-->
        </div>
        <!-- //list-box -->
    </div>
</div>
<!-- //절차 -->
<h4 class="stit mTop40">법무부장관이 정하는 교육 안내</h4>
<h5 class="sListTit slash">법무부장관이 정하는 교육 과목</h5>
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="tableType type0 special-col-table-wrapper mTop0 table-overflow">
    <table>
        <caption>
            캡션캡션캡션
        </caption>
        <colgroup>
            <col style="width: 230px;">
            <col style="width: 230px;">
            <col style="width: 120px;">
            <col style="width: 120px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col" colspan="2" class="th-border-bottom">교육 과목</th>
                <th scope="col">교육시간</th>
                <th scope="col">합계</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="firstCell" colspan="2">오리엔테이션, 설문조사 및 수료식</td>
                <td >1시간</td>
                <td rowspan="4">총 15시간</td>
            </tr>
            <tr>
                <td class="firstCell">이민법제론</td>
                <td>출입국관리법, 국적법, 재한외국인 처우 기본법, 재외동포의 출입국과 법적 지위에 관한 법률 등 이민자 관련 법령</td>
                <td>10시간</td>
            </tr>
            <tr>
                <td class="firstCell" colspan="2">한국의 이민정책</td>
                <td>2시간</td>
            </tr>
            <tr>
                <td class="firstCell" colspan="2">특강</td>
                <td>2시간</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li>법무부 위탁 교육기관에서 매년 2·3월, 8·9월경에 <span class="point">오프라인 교육</span>으로 진행됩니다.</li>
        </ul>
    </div>
</div>
<h5 class="sListTit slash mTop30">법무부장관이 정하는 신청방법</h5>
<ul class="listType type10">
    <li>1. 홈페이지를 통해 온라인 신청 및 수수료를 납부합니다.</li>
    <li>2. 『법무부장관이 정하는 교육』 이수증'을 온라인 신청 시 첨부합니다.</li>
    <li>3. 이수과목 정보, 졸업여부 및 이수증 발급여부를 확인 후 합격자에 한해 수료증을 우편으로 발송합니다.</li>
    <li>4. 수료증 신청 및 발급은 매년 2회 시행합니다.(자세한 사항은 추후 공지 참조)</li>
    <li>5. 본 수료증은 2017학년도 3월 이후부터 발급됩니다.</li>
</ul>