<h4 class="stit">이민·다문화 현장실습</h4>
<h5 class="sListTit slash">개요</h5>
<p class="paragraph ">사회통합프로그램 운영기관에서 프로그램 운영 및 강의과정에 참여하여 지역사회수준에서의 이민자 사회통합 현장을 경험하며, 이민·다문화 정책현장에서의 다문화사회 전문가 역할에 대한 이해를 높이고, 이민자 대상 교수법, 상담기법 등을 실습한다.</p>
<h5 class="sListTit slash mTop20">교육목표</h5>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>이민자 사회통합프로그램 운영기관에서 사회통합프로그램 강의 참관 및 프로그램 운영 등의 현장실습을 통해 이민자 대상 한국사회이해 강사로서의 직무역량을 갖춘다.</li>
            <li>이민〮다문화 현장실습을 통해 다문화사회전문가로서의 역할을 이해하고 그 역량을 신장시킨다.</li>
        </ul>
    </div>
</div>
<h5 class="sListTit slash mTop20">교육의의</h5>
<p class="paragraph ">매년 증가하는 다문화 가정과 이주노동자, 체류외국인들에 대한 이해의 폭을 넓히고, 이들이 한국사회속에서 인정되고 평화롭게 적응할 수 있도록 교육하고 선도할 수 있는 환경을 조성하기 위해서 정책현장에서 솔선하는 건강한 전문가의 자격을 갖추게 될 것이다.</p>
<h4 class="stit mTop40">신청자격</h4>
<p class="paragraph">다문화사회전문가 관련 아래 본교 개설과목 중 2과목 이상 이수한 자 (필수과목, 선택과목 구분 없음)
    <br>
    <span class="point">※ 반드시 위 조건을 모두 충족해야 실습 사전 신청이 가능하며, 본교 재학생에 한 해 신청가능합니다.</span></p>
<h4 class="stit mTop40">실습 진행절차</h4>
<div class="list-box-wrapper type02 mTop10">
    <div class="step-box pattern type01">
        <span>1단계 : 현장실습 자격 충족 및 기관 탐색</span>
    </div>
    <div class="section">
        <div class="list-box stage-3">
            <div class="title"><span>1</span>학생</div>
            <div class="con">
                <div class="con-box normal">다문화사회전문가 관련 본교 개설과목 중 2과목 이상 이수한 자 (필수과목, 선택과목 구분 없음)</div>
                <!-- 1단 +  기본 -->
                <div class="btn-box">
                    <a title="새창 " class="btnType type4 no-radius" href="http://stgpracticum.cuk.edu/142027.do" target="_self"><span class="inner ">바로가기</span></a>
                </div>
            </div>
        </div>
        <div class="list-box stage-3">
            <div class="title"><span>2</span>학생<div class="arrow type02"></div>기관</div>
            <div class="con">
                <div class="con-box normal">실습 가능한 연계기관 알아보기</div>
                <!-- 1단 +  기본 -->
                <div class="btn-box">
                    <a title="새창 " class="btnType type4 no-radius" href="http://stgpracticum.cuk.edu/142028.do" target="_self"><span class="inner ">바로가기</span></a>
                </div>
            </div>
        </div>
        <div class="list-box stage-3">
            <div class="title"><span>3</span>학생<div class="arrow type02"></div>기관</div>
            <div class="con">
                <div class="con-box normal">실습 동의 받기</div>
                <!-- 1단 +  기본 -->
            </div>
        </div>
    </div>
    <!-- //section -->
    <div class="step-box pattern type02">
        <span>2단계 : 사전실습신청 및 '이민·다문화현장 실습' 과목 수강신청</span>
    </div>
    <div class="section">
        <div class="list-box stage-3">
            <div class="title"><span>4</span>학생<div class="arrow type02"></div>학교</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">사전실습신청<br>(이민·다문화 현장실습 신청서)</div>
                    <div class="con-box border-top addTxt">LIX.cuk.edu 진행</div>
                    <div class="btn-box">
                        <a title="새창 " class="btnType type4 no-radius" href="https://lix.cuk.edu" target="_blank"><span class="inner ">바로가기</span></a>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-3 ">
            <div class="title "><span>5</span>학교<div class="arrow type02"></div>학생</div>
            <div class="con">
                <div class="con-box normal">실습 승인<br>(SMS, E-mail 안내)</div>
                <!-- 1단 +  기본 -->
            </div>
        </div>
        <div class="list-box stage-3">
            <div class="title"><span>6</span>학생</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">[이민·다문화 현장실습]
                        <br>과목 수강신청</div>
                    <div class="con-box border-top addTxt">LIX.cuk.edu 진행</div>
                    <div class="btn-box">
                        <a title="새창 " class="btnType type4 no-radius" href="LIX.cuk.edu 진행" target="_blank"><span class="inner ">바로가기</span></a>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
    </div>
    <!-- //section -->
    <div class="step-box pattern type03">
        <span>3단계 : 실습참여</span>
    </div>
    <div class="section">
        <div class="list-box stage-3">
            <div class="title"><span>7</span>학생</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">[이민·다문화 현장실습]
                        <br>과목 '실습 OT' 참석</div>
                    <div class="con-box border-top">기관 OT 참석</div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-3">
            <div class="title"><span>8</span>학생</div>
            <div class="con">
                <div class="con-box">
                    <ul class="listType type11">
                        <li>[이민·다문화 현장실습] 과목 수강</li>
                        <li>현장실습 진행</li>
                    </ul>
                </div>
                <!-- 1단 + 리스트 -->
            </div>
        </div>
        <div class="list-box  stage-3">
            <div class="title"><span>9</span>학생, 기관<div class="arrow type02"></div>학교</div>
            <div class="con">
                <div class="con-box">
                    <ul class="listType type11">
                        <li>현장실습 계획서 (학생)</li>
                        <li>현장실습 확인서 (기관)</li>
                        <li>현장실습 일지 (학생)</li>
                        <li>현장실습 보고서 (학생)</li>
                    </ul>
                </div>
                <!-- 1단 + 리스트 -->
            </div>
        </div>
    </div>
    <!-- //section -->
</div>