<h4 class="stit">자격증 개설 교과목</h4>
<div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
<div class="selectClass">
    <dl>
        <dt>
            <img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif">
        </dt>
        <dd>필수과목</dd>
    </dl>
</div>
<div class="tableType type0 mTop0 special-col-table-wrapper mTop10 table-overflow">
    <table>
        <caption>
            실습유형 표
        </caption>
        <colgroup>
            <col style="width: 100px;">
            <col style="width: 210px;">
            <col style="width: 215px;">
            <col style="width: 175px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">구분</th>
                <th scope="col">법정과목 </th>
                <th scope="col">본교 개설과목</th>
                <th scope="col">개설학과</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row" rowspan="6">필수과목<br>(5과목 이상)</th>
                <td class="leftTxt" rowspan="6">
                    <div class="listType type3 ">
                        <div class="wrap close ">
                            <ul class="desc ">
                                <li>이민정책론
                                </li>
                                <li>이민법제론
                                </li>
                                <li>다문화사회교수방법론
                                </li>
                                <li>한국사회의 다문화현상이해
                                </li>
                                <li>이민·다문화 가족복지론
                                </li>
                                <li>국제이주와 노동정책
                                </li>
                                <li>이민·다문화 현장실습
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="centerTxt">다문화사회교수방법론(1학기) </td>
                <td class="centerTxt">한국어학과
                </td>
            </tr>
            <tr>
                <td class="centerTxt">한국사회의 다문화현상 이해(1학기) </td>
                <td class="centerTxt">한국어학과
                </td>
            </tr>
            <tr>
                <td class="centerTxt">이민·다문화가족복지론(1학기) </td>
                <td class="centerTxt">사회복지학과
                </td>
            </tr>
            <tr>
                <td class="centerTxt">국제이주와 노동정책(2학기) </td>
                <td class="centerTxt">사회복지학과
                </td>
            </tr>
            <tr>
                <td class="centerTxt">이민정책론(2학기) </td>
                <td class="centerTxt">사회복지학과
                </td>
            </tr>
            <tr>
                <td class="centerTxt">이민·다문화 현장실습(1학기)<img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;"></td>
                <td class="centerTxt">다문화·국제협력 전공
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row" rowspan="4">선택과목<br>(3과목 이상)</th>
                <td rowspan="4" class="leftTxt">
                    <div class="listType type3 ">
                        <div class="wrap close ">
                            <ul class="desc ">
                                <li>다문화가족의 상담과 실제
                                </li>
                                <li>다문화(사회)교육론
                                </li>
                                <li>(이주민을 위한)한국어교육론
                                </li>
                                <li>해외동포사회 이해
                                </li>
                                <li>지역사회와 사회통합
                                </li>
                                <li>이주노동자 상담과 실제
                                </li>
                                <li>노동법
                                </li>
                                <li>국제인권법
                                </li>
                                <li>가족법
                                </li>
                                <li>국제이주와 사회통합
                                </li>
                                <li>아시아사회의 이해
                                </li>
                                <li>이중언어교육론
                                </li>
                                <li>다문화교육현장사례연구</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="centerTxt">다문화 상담과 실제(1학기) </td>
                <td class="centerTxt">상담심리학과(필수)
                </td>
            </tr>
            <tr>
                <td class="centerTxt">다문화사회교육론(1학기) </td>
                <td class="centerTxt">평생교육학과
                </td>
            </tr>
            <tr>
                <td class="centerTxt">한국어교육개론(2학기) </td>
                <td class="centerTxt">한국어학과
                </td>
            </tr>
            <tr>
                <td class="centerTxt">아시아사회의 이해(2학기) </td>
                <td class="centerTxt">교양과정
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li>2020학년도부터 다문화·국제협력 전공으로 입학한 학생들에 한해서는 이민·다문화현장 실습 과목은 전공필수입니다.</li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">자격증 로드맵 </h4>
<!-- table -->
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="tableType type0 top0 special-col-table-wrapper table-overflow training-loadmap">
    <table>
        <caption>★테이블caption★</caption>
        <colgroup>
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
        </colgroup>
        <thead>
            <tr class="gray">
                <th scope="col">구분</th>
                <th scope="col">1-1</th>
                <th scope="col">1-2</th>
                <th scope="col">2-1</th>
                <th scope="col">2-2</th>
                <th scope="col">3-1</th>
                <th scope="col">3-2</th>
                <th scope="col">4-1</th>
                <th scope="col">4-2</th>
            </tr>
        </thead>
        <tbody>
            <tr class="gray">
                <th class="firstCell pattern type02 line" scope="row" rowspan="2">필수<br>(5과목<br>이상)</th>
                <td></td>
                <td></td>
                <td>
                    <div>한국사회의 다문화현상 이해</div>
                </td>
                <td>
                    <div>이민정책론</div>
                </td>
                <td>
                    <div>다문화사회교수방법론</div>
                </td>
                <td></td>
                <td>
                    <div>이민·다문화가족복지론</div>
                </td>
                <td>
                    <div>국제이주와 노동정책 </div>
                </td>
            </tr>
            <tr class="gray line">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div>이민·다문화현장 실습 </div>
                </td>
                <td></td>
            </tr>
            <!-- // 01 -->
            <tr class="gray">
                <th class="firstCell pattern type05" scope="row" rowspan="2">선택<br>(3과목<br>이상)</th>
                <td></td>
                <td></td>
                <td>
                    <div>다문화사회교육론</div>
                </td>
                <td>
                    <div>한국어교육개론</div>
                </td>
                <td>
                    <div>다문화 상담과 실제</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gray">
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div>아시아 사회의 이해</div>
                </td>
                <td></td>
                <td></td>
                <td colspan="2"></td>
            </tr>
            <!-- // 02 -->
        </tbody>
    </table>
</div>