<h4 class="stit">실습지도사 자격요건</h4>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li>다문화사회 전문가</li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">실습기관</h4>
<div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
<div class="tableType type0 top0 special-col-table-wrapper mTop10 table-overflow">
    <table>
        <caption>
            실습유형 표
        </caption>
        <colgroup>
            <col style="width: 233px;">
            <col style="width: 233px;">
            <col style="width: 233px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">구분 </th>
                <th scope="col">지역</th>
                <th scope="col">연락처</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="firstCell centerTxt">고양이민자통합센터</td>
                <td class="centerTxt">경기 고양시 </td>
                <td class="centerTxt">031-970-3020</td>
            </tr>
            <tr>
                <td class="firstCell centerTxt">군포이주와다문화센터</td>
                <td class="centerTxt">경기 군포시</td>
                <td class="centerTxt">070-4155-7979</td>
            </tr>
            <tr>
                <td class="firstCell centerTxt">국제외국인센터</td>
                <td class="centerTxt">경기 하남시 </td>
                <td class="centerTxt">031-795-5158</td>
            </tr>
        </tbody>
    </table>
</div>