<h4 class="stit">한국어교원이란?
</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>국어를 모어(母語)로 사용하지 않는 외국인, 재외동포를 대상으로 한국어를 가르치는 자.</li>
            <li>한국어교원이 되고자 하는 자가 국어기본법령에서 정하고 있는 소정의 요건을 갖춘 경우 국가가 부여하는 자격증이다.
                <br>- 국어를 모어로 사용하는 내국인을 대상으로 국어를 가르치는 ‘초등학교 및 중·고등학교 국어 정교사 자격증과는 별개임.
                <br>- 외국 국적자도 학위과정을 통해서 내국인과 동일한 방법으로 한국어교원 자격증 취득할 수 있음.
                단, 외국 국적자가 2급 한국어교원 자격을 취득하기 위해서는 한국어능력시험(TOPIK) 6급 성적증명서를 필요로 합니다.
                <br>- 한국국적자가 (결혼이나 시민권 취득 등으로) 국적 포기시에는 외국인으로 인정되어 한국어능력시험(TOPIK) 6급 성적증명서가 필요합니다.</li>
        </ul>
    </div>
</div>
<div class="majorSystem mTop20">
    <p><img alt="" src="http://stgimg.cuk.edu/practicum/kl/img_sw_main.png"> </p>
</div>
<div class="summary-wrapper top blue stage3 mTop20">
    <!-- box -->
    <div class="box">
        <div class="text title">직업분야 </div>
        <div class="text con">
            <div class="paragraph">다문화코디네이터, 다문화 언어발달 지도사, 결혼이민자 통번역지원사</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">핵심능력 </div>
        <div class="text con">
            <div class="paragraph">창의력, 언어능력, 대인관계능력</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">사회이슈 </div>
        <div class="text con">
            <div class="paragraph">2020년 다문화가족지원 사업설명회 개최</div>
        </div>
    </div>
    <!-- //box -->
</div>
<!-- //box-wrapper -->
<div class="summary-wrapper bottom blue stage3">
    <!-- box -->
    <div class="box">
        <div class="text title">관련 자격증</div>
        <div class="text con">
            <div class="paragraph">한국어교원, 다문화사회전문가</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">고려사이버대 한국어학과 재학생<span class="addTxt">(2020 신편입생 미포함)</span></div>
        <div class="text con">
            <ul class="desc">
                <li>20대 이하 : 11.1%</li>
                <li>30대 : 22.5% </li>
                <li>40대 이상 : 66.4%</li>
            </ul>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">관련학과</div>
        <div class="text con">
            <div class="paragraph"><strong class="underline">다문화·국제협력전공</strong>, 한국어교육전공</div>
        </div>
    </div>
    <!-- //box -->
</div>
<!-- //box-wrapper -->
<div class="flex-box">
    <div class="addTxt mTop10 left-auto">
        (출처 : ‘커리어넷 직업정보 19.10 일부 발췌)
    </div>
</div>
<h4 class="stit mTop40">사회복지사의 직무</h4>
<div class="majorSystem mTop20">
    <p><img alt="★이미지alt★" src="http://stgimg.cuk.edu/practicum/kl/img_diagram.png"> </p>
    <p class="imageView">
        <a title="새창" class="btnType type0" href="http://stgimg.cuk.edu/practicum/kl/img_diagram.png" target="_blank">
            <span class="inner">
                <span class="bg type0">확대 보기</span>
            </span>
        </a>
    </p>
    <div class="blind">
        <dl>
            <dt>한국어교원</dt>
            <dd>연구 : 대학원 진학</dd>
            <dd>교육 : 대학부설 한국어 센터 유학생</dd>
            <dd>교육 : 다문화가정 여성</dd>
            <dd>교육 : 외국인 노동자</dd>
            <dd>교육 : 다문화 가정 중노년, 중도입국 자녀</dd>
            <dd>기획 : 한국어 교재와 콘텐츠 기획</dd>
        </dl>
    </div>
</div>
<h4 class="stit mTop40">자격증 취득 후 진로</h4>
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="tableType type0 top0 special-col-table-wrapper mTop10 table-overflow">
    <table>
        <caption>
            캡션캡션캡션
        </caption>
        <colgroup>
            <col style="width: 175px;">
            <col style="width: 175px;">
            <col style="width: 175px;">
            <col style="width: 175px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col" colspan="3">한국어교원</th>
                <th scope="col" class="border-bottom-white">다문화사회전문가</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col" class="dark-gray">교육</th>
                <th scope="col" class="dark-gray">연구</th>
                <th scope="col" class="dark-gray">봉사</th>
                <th scope="col" class="dark-gray">이민·다문화</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="leftTxt firstCell">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>국내외 한국어 교육기관의 외국인 및 교포 대상 한국어 및 한국문화교사, 국외 초중등 학교의 한국어 교사</li>
                                <li>한국내 외국인 학교 한국어교사, 한국 내 이민자 자녀 또는 귀국 자녀 대상 한국어 교사</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>한국어 및 한국문화 연구자로 대학원 진학</li>
                                <li>한국어 및 한국문화 교육용 교재, 콘텐츠 개발자</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>세종학당, 코이카 등 해외파견 한국어 봉사단원</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>다문화가족 지원센터, 이주노동자 지원센터, 외국인 지원 센터 등 정부기관 또는 민간단체의 한국어 과정 담당자</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h4 class="stit mTop40">문의처</h4>
<h5 class="sListTit type0 mTop0">국립국어원 한국어교원</h5>
<p class="paragraph">- 전화 : 02-2669-9671~3</p>
<div class="flex-box mTop10">
    <a title="새창" class="btnType type5" href="https://kteacher.korean.go.kr/home.do" target="_blank "><span class="inner ">바로가기</span></a>
</div>