<h4 class="stit">자격증 취득절차</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>한국어·다문화학부 한국어교육 전공 '전공' 또는 '복수전공'자(부전공 불가)는 졸업 후 국립국어원의 자격심사를 거쳐 2급 자격증이 주어집니다.</li>
            <li>2014년 이전 입학생의 경우는 실용외국어학과 주언어 '한국어교육'으로 전공(복수전공) 가능
                <br>(단, 2017학년도 8월 졸업까지만 인정)</li>
            <li>한국어교원자격증은 국립국어원에서 접수하고 있으며 자격증의 신청과 관련하여 우리 대학은 대행 업무를 하지 않습니다.</li>
            <li>자격증 신청, 발급에 관한 문의는 국립국어원으로 하시기 바랍니다.</li>
        </ul>
    </div>
</div>
<div class="boxType type1">
    <div class="flex-box">
        <div>
            <h5 class="sListTit">국립국어원 한국어교원</h5>
            <p class="paragraph">- 전화 : 02-2669-9671~3</p>
        </div>
        <div class="left-auto">
            <a title="새창" class="btnType type5" href="https://kteacher.korean.go.kr/home.do" target="_blank"><span class="inner">바로가기</span></a>
        </div>
    </div>
</div>
<!-- 절차 -->
<div class="step-wrap license mTop30">
    <div class="box step01">
        <div class="step-box">
            <span class="title">1단계</span>
        </div>
        <div class="step-con-box bg">
            <span>고려사이버대학교 입학
            </span>
        </div>
        <div class="step-con-box">
            한국어교육 전공 주전공(복수전공)
        </div>
    </div>
    <div class="box step02">
        <div class="step-box">
            <div class="step-triangle"></div>
            <span class="title">2단계</span>
        </div>
        <div class="half-box">
            <div class="step-con-box half">영역별 한국어교원 지정교과목 이수
            </div>
            <span class="plus"></span>
            <div class="step-con-box half">졸업최소이수학점 이수
            </div>
        </div>
    </div>
    <div class="box step03">
        <div class="step-box">
            <div class="step-triangle"></div>
            <span class="title">3단계</span>
        </div>
        <div class="step-con-box">학부 졸업
        </div>
    </div>
    <div class="box step04">
        <div class="step-box">
            <div class="step-triangle"></div>
            <span class="title">4단계</span>
        </div>
        <div class="step-con-box bg">
            <span>국립국어원에서<br>
                자격증 신청 (인터넷 접수)
            </span>
        </div>
        <!-- list box -->
        <div class="list-box-wrapper">
            <!-- section 2단 -->
            <div class="section">
                <!-- list-box -->
                <div class="list-box  stage-2">
                    <div class="title"><span>1</span>신청 및 서류제출
                    </div>
                    <div class="con">
                        <div class="con-box">
                            <ul class="listType type11">
                                <li>심사신청서(직접 출력)</li>
                                <li>성적증명서</li>
                                <li>졸업증명서</li>
                                <li>외국국적자에 한해, 한국어능력시험(TOPIK) 6급 성적증명서(2년 이내)</li>
                            </ul>
                        </div>
                        <!-- 1단 + 리스트 -->
                    </div>
                </div>
                <!-- list-box -->
                <!-- list-box -->
                <div class="list-box stage-2">
                    <div class="title"><span>2</span>자격 심사 </div>
                    <div class="con">
                        <div class="con-box normal">한국어교원 자격심사</div>
                        <!-- 1단 +  기본 -->
                    </div>
                </div>
                <!-- list-box -->
            </div>
            <!-- //section 2단-->
            <!-- section 2단 -->
            <div class="section">
                <!-- list-box -->
                <div class="list-box  stage-2">
                    <div class="title"><span>3</span>발표</div>
                    <div class="con">
                        <div class="con-box normal">합격자발표</div>
                        <!-- 1단 +  기본 -->
                    </div>
                </div>
                <!-- list-box -->
                <!-- list-box -->
                <div class="list-box stage-2">
                    <div class="title"><span>4</span>자격증 발급</div>
                    <div class="con">
                        <div class="con-box normal">한국어교원 자격증</div>
                        <!-- 1단 +  기본 -->
                    </div>
                </div>
                <!-- list-box -->
            </div>
            <!-- //section 2단-->
        </div>
        <!-- //list-box -->
    </div>
</div>
<!-- //절차 -->