<h4 class="stit">한국어교육실습
</h4>
<h5 class="sListTit slash">개요</h5>
<p class="paragraph ">본 교육실습 과목은 한국어교원자격증을 필수과목으로 한국어교육에 대한 이론을 실제 교육활동과 연결시켜 경험해 보는 것으로 한국어 교사로 활동하기 위해서는 반드시 거쳐야 하는 중요한 과정입니다.
    <br>
    5영역 '한국어교육실습'과목은 오프라인 실습이 중요한 과목으로, 미리 '사전신청'절차를 밟은 학생만이 수강 등록이 가능한 과목입니다. '사전신청'을 통해서 '선수과목 이수'를 받고, 또한 외부 실습기관에서 참관가능 일정을 받아야만, 과목 수강이 가능하기 때문입니다. 그러므로 자격증 취득을 원하는 학생은 본 과목의 수강신청 방법에 특히 유의하시기 바랍니다. </p>
<h5 class="sListTit slash mTop20">교육목적</h5>
<p class="paragraph ">한국어교육실습은 실습생이 한국어수업에 대한 이해를 바탕으로 수준별, 내용별, 기능별 한국어 수업구성능력 및 수업운영능력을 키우게 하는 것을 목적으로 합니다. </p>
<h4 class="stit mTop40">신청자격</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>한국어교육 전공을 주전공(또는 복수전공)으로 하여 2학기 이상 이수한 자</li>
            <li>선수과목 총 10과목 이상 - 1, 3영역에서 8과목 이상, 나머지 영역에서 2과목 이상 (정규학기만 해당/계절학기 제외)</li>
        </ul>
    </div>
</div>
<p class="paragraph point">※ 반드시 위 조건을 모두 충족해야 실습 사전 신청이 가능하며, 본교 재학생에 한 해 신청 가능합니다.</p>
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="selectClass mTop10">
    <dl>
        <dt>
            <img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif">
        </dt>
        <dd>전공필수</dd>
    </dl>
</div>
<div class="tableType type0 special-col-table-wrapper mTop10 table-overflow">
    <table>
        <caption>
            신청자격 표
        </caption>
        <colgroup>
            <col style="width: 80px;">
            <col style="width: 120px;">
            <col style="width: 250px;">
            <col style="width: 250px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">영역 </th>
                <th scope="col">자격증 취득<br>
                    이수학점 </th>
                <th scope="col">1학기 </th>
                <th scope="col">2학기
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">1영역 </th>
                <th class="centerTxt" scope="row"><strong>6학점<br>
                        (2과목)</strong></th>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>한국어학개론</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>한국어어문규범</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">2영역 </th>
                <th class="centerTxt" scope="row"><strong>24학점<br>
                        (8과목) </strong></th>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>언어학개론</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>언어습득론
                                    <span class="addTxt">(아동영어학과 개설과목)</span></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">3영역 </th>
                <th class="centerTxt" scope="row"><strong>6학점<br>(2과목)</strong></th>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>한국어표현교육법</li>
                                <li>한국어어휘교육법</li>
                                <li>한국어교재론</li>
                                <li>한국어평가론</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>한국어발음교육법</li>
                                <li>한국어교육개론</li>
                                <li>한국어이해교육법</li>
                                <li>한국어문법교육론 </li>
                                <li>한국어한자어교육론</li>
                                <li>한국문화교육론</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">4영역 </th>
                <th class="centerTxt" scope="row"><strong>6학점<br>
                        (2과목)</strong></th>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>한국문화론</li>
                                <li>한국문화개론</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>한국고전과 현대문화예술</li>
                                <li>한국민속학개론</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">5영역</th>
                <th class="centerTxt" scope="row"><strong>3학점<br>
                        (1과목)</strong></th>
                <td class="leftTxt" colspan="2">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>한국어교육실습</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h4 class="stit mTop40">실습 진행절차</h4>
<div class="list-box-wrapper type02 mTop10">
    <div class="step-box pattern type01">
        <span>1단계 : 한국어교육실습 자격 충족 및 기관 탐색</span>
    </div>
    <div class="section">
        <div class="list-box stage-3 fix">
            <div class="title"><span>1</span>학생</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">2학기 이상 이수자
                    </div>
                    <div class="con-box border-top">실습 선수과목(10과목 이상)반드시 이수완료
                        <br>1,3영역에서 8과목 이상, 나머지 역역에서 2과목 이상
                    </div>
                    <div class="btn-box">
                        <a title="새창 " class="btnType type4 no-radius" href="★★★자격증 로드★★★" target="_self"><span class="inner ">바로가기</span></a>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box grow margin-left-2">
            <div class="title"><span>2</span>학생<div class="arrow type02"></div>기관 (국/내외 개인섭외)</div>
            <div class="con">
                <div class="row">
                    <div class="con-box normal">
                        <div class="con-box normal">실습 가능한 국내·외 <br>연계기관 알아보기</div>
                        <div class="btn-box">
                            <a title="새창 " class="btnType type4 no-radius" href="★★★자격증 로드★★★" target="_self"><span class="inner ">바로가기</span></a>
                        </div>
                    </div>
                    <!-- // -->
                    <div class="con-box normal border-left">
                        <div class="con-box">
                            <strong>실습 동의 받기</strong>
                            - 현장실습지도자 자격요건 확인
                            <br>- 한국어 강의 단계별 급수 개설여부 확인
                        </div>
                        <div class="btn-box">
                            <a title="새창 " class="btnType type4 no-radius" href="★★★자격증 로드★★★" target="_self"><span class="inner ">바로가기</span></a>
                        </div>
                    </div>
                    <!-- // -->
                </div>
                <!-- 좌우 -->
            </div>
        </div>
    </div>
    <!-- //section -->
    <div class="step-box pattern type02">
        <span>2단계 : 사전실습신청 및 '평생교육실습' 과목 수강신청</span>
    </div>
    <div class="section">
        <div class="list-box stage-3">
            <div class="title"><span>3</span> 학생<div class="arrow type02"></div>학교</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box"><span><strong class="point">수강신청시작 약 4주전</strong></span>사전실습신청
                        <br>(사전실습신청서)</div>
                    <div class="con-box border-top">
                        <span class="addTxt">LIX.cuk.edu 진행</span>
                    </div>
                    <div class="btn-box">
                        <a title="새창 " class="btnType type4 no-radius" href="Lix.cuk.edu" target="_blank"><span class="inner ">바로가기</span></a>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-3">
            <div class="title"><span>4</span>학생<div class="arrow type02"></div>학교</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">
                        <strong class="point">(납부 선착순)</strong> 실습비 납부
                    </div>
                    <div class="con-box border-top">
                        <span class="addTxt">계좌 송금</span>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-3">
            <div class="title"><span>5</span>학생<div class="arrow type02"></div>학교</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">실습생 강의참관<br>지원서 제출</div>
                    <div class="con-box border-top">
                        <span class="addTxt">이메일 제출 또는 LIX.cuk.edu 진행</span>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
    </div>
    <!-- // section 01 -->
    <div class="section">
        <div class="list-box stage-3">
            <div class="title"><span>6</span> 학교<div class="arrow type02"></div>학생</div>
            <div class="con">
                <div class="con-box normal">실습 승인 (SMS, E-mail 안내)</div>
            </div>
        </div>
        <div class="list-box stage-3">
            <div class="title"><span>7</span>학생</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">[한국어교육실습]<br>과목 수강신청</div>
                    <div class="con-box border-top">
                        <span class="addTxt">LIX.cuk.edu 진행</span>
                    </div>
                    <div class="btn-box">
                        <a title="새창 " class="btnType type4 no-radius" href="Lix.cuk.edu" target="_blank"><span class="inner ">바로가기</span></a>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-3">
            <div class="title"><span>8</span>학교<div class="arrow type02"></div>학생</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">해당 협약기관
                        <br>
                        참관수업 일시 신청</div>
                    <div class="con-box border-top">
                        <span class="addTxt">LIX.cuk.edu 진행</span>
                    </div>
                    <div class="btn-box">
                        <a title="새창 " class="btnType type4 no-radius" href="Lix.cuk.edu" target="_blank"><span class="inner ">바로가기</span></a>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
    </div>
    <!-- // section 02 -->
    <div class="step-box pattern type03">
        <span>3단계 : 실습참여 및 과목 이수완료</span>
    </div>
    <div class="section">
        <div class="list-box grow">
            <div class="title"><span>10</span>학생</div>
            <div class="con">
                <!-- 좌+우 -->
                <div class="row">
                    <div class="con-box normal">[한국어교육실습]<br>
                        과목 온라인 강의 수강 (14주차)<br>
                        + 온라인 중간/기말고사
                    </div>
                    <!-- 1단 +  기본 -->
                    <div class="column border-left">
                        <div class="con-box">[한국어교육실습]<br>
                            기관별 참관수업 진행<br>
                            (3일 이상, 총 9시간 이상)</div>
                        <div class="con-box border-top">
                            <span class="addTxt">수업 참관록 작성,<br>기관에 제출</span>
                        </div>
                    </div>
                    <!-- //위+아래 -->
                    <div class="column border-left">
                        <div class="con-box">[한국어교육실습]<br>
                            모의수업 시연 (1회)</div>
                        <div class="con-box border-top">
                            <span class="addTxt">담당 교수님 <br>
                            평가 및 지도</span>
                        </div>
                    </div>
                    <!-- //위+아래 -->
                </div>
                <!-- //좌 -->
            </div>
        </div>
        <div class="list-box stage-4 margin-left-2">
            <div class="title"><span>11</span>기관<div class="arrow type02"></div>학교</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">[한국어교육실습]
                        <br>참관수업 회신서류 제출</div>
                    <div class="con-box border-top">
                        <ul class="listType type11">
                            <li class="addTxt">모든 양식은 각 참관기관으로 발송예정</li>
                            <li class="addTxt">[과목공지] 확인</li>
                        </ul>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-4 margin-left-2">
            <div class="title"><span>12</span>기관<div class="arrow type02"></div>학교</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">이수완료</div>
                    <div class="con-box border-top">
                        <span class="addTxt">강의참관 및 모의수업을 <span class="point">100% 참여한 경우에만</span> 한국어교육실습 과목을 이수한 것으로 인정</span>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
    </div>
    <!-- //section -->
</div>
<!-- 실습안내 진행절차 - guid -->
<h4 class="stit mTop40">해외거주자 오프라인 교육실습</h4>
<div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
<div class="tableType type0 special-col-table-wrapper table-overflow">
    <table>
        <caption>
            실습유형 표
        </caption>
        <colgroup>
            <col style="width: 120px;">
            <col style="width: 460px;">
            <col style="width: 120px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">구분</th>
                <th scope="col">상세내용</th>
                <th scope="col">바로가기 </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">강의참관 </th>
                <td class="leftTxt">
                    <div class="listType type3 ">
                        <div class="wrap close ">
                            <ul class="desc ">
                                <li>한국어 교육 기관으로 인정 기관이 아니더라도 일정한 공간에서 정기적으로 집합 한국어강의를 진행하고 있으며, 현장실습지도자가 있어 한국어 강의 및 실습생들에 대한 관리가 이루어 질 수 있는 기관에 직접 연락하여 '현장실습(강의참관)' 허가를 받아야 함.</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="centerTxt" rowspan="2">
                    <a title="새창" class="btnType type5" href="ssss실습연계기관sss" target="_self">
                        <span class="inner">바로가기</span>
                    </a>
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">모의수업 </th>
                <td class="leftTxt">
                    <div class="listType type3 ">
                        <div class="wrap close ">
                            <ul class="desc ">
                                <li>동영상 촬영 제출 또는 교수님과 1:1 화상 모의시연</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
<h4 class="stit summary-wrapper mTop40">유의사항</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>실습 '선수과목＇의 산정에는 실습학기 직접의 계절학기 수강 과목은 포함되지 않습니다. (계절학기 성적이 나오기 전에 사전신청이 이루어짐.)
            </li>
            <li>'사전신청’기간에 대한 예고는 '학교공지＇와 '학과공지', '실습공지’를 통해 미리 이루어집니다. 학생 스스로 사전신청 날짜를 기록해 두셨다가, 사전 신청 기간이 되면 반드시 신청하십시오. 이후에는 접수가 불가합니다. (개별 공지 없음)
            </li>
            <li>'사전 신청＇은 정규 수강신청 기간보다 대략 1달 전에 '선착순＇을 통하여 이루어집니다.
            </li>
            <li>사전 정확히 공지되나, 외부 실습기관에서 진행되는 '참관수업’ 일정은 대략적인 기간과 요일만이 우선 공지됩니다. (이는 실습기관의 학사일정상 신청시에 '모의수업' 날짜는 참관 가능한 구체적 날짜와 시간이 추후에 확정되기 때문입니다.)
            </li>
            <li>'사전신청’을 통해 학생들은 본인이 원하는 '참관수업 기관’과 '모의수업 날짜＇를 선택할 수 있으며, 등록금과 별도로 실습비를 납부해야 합니다. (기관별로 참관 일정 및 정원, 실습비 상이)
            </li>
            <li>실습기관에서 수용 가능한 실습인원이 학기별로 변동될 수 있습니다. 실습신청은 선착순이므로, 자신이 원하는 기관이 있으면 신속히 사전 신청을 마치십시오. 승인 이후에는 실습기관 및 일정 변경이 불가합니다. ('실습비＇까지 내야 신청이 완료됨.)
            </li>
            <li>실습기관에서 행해지는 참관 수업 중에 결석이나 지각을 하면, '한국어교육실습’ 과목 자체가 미수료가 됩니다. 그러므로 신중하게 실습기관을 정해주시기 바랍니다.
            </li>
            <li>해외 학생의 경우는 본인이 거주하는 외국 현지의 한국어 교육 기관으로 국립국어원 인정 기관이 아니더라도 일정한 공간에서 정기적으로 집합 한국어강의를 진행하고 있으며, 현장실습지도자가 있어 한국어 강의 및 실습생들에 대한 관리가 이루어 질 수 있는 기관에서 실습할 수 있습니다. 다만, 이를 위해서는 반드시 실습생이 해당 기관에 미리 협의를 거쳐야 합니다. 이를 위한 자세한 준비절차는 FAQ를 확인하십시오.
            </li>
            <li>'사전신청’절차에 대한 자세한 안내가 FAQ에 있으니 반드시 확인하십시오.
            </li>
        </ul>
    </div>
</div>
						