<h4 class="stit">자격증 개설 교과목 </h4>
<h5 class="sListTit slash">한국어교원 자격증 개설과목</h5>
<div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
<!-- table -->
<div class="tableType type0 special-col-table-wrapper table-overflow mTop10">
    <table>
        <caption>한국어교원 자격증 개설과목 표</caption>
        <colgroup>
            <col style="width: 60px;">
            <col style="width: 320px;">
            <col style="width: 320px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col" colspan="2" class="th-border-bottom">영역</th>
                <th scope="col">영역별 필수 이수학점</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">1영역
                </th>
                <td class="centerTxt">한국어학
                </td>
                <td class="centerTxt">6학점(2과목)
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">2영역
                </th>
                <td class="centerTxt">일반언어학 및 응용언어학
                </td>
                <td class="centerTxt">6학점(2과목)
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">3영역
                </th>
                <td class="centerTxt">외국어로서의 한국어교육론
                </td>
                <td class="centerTxt">24학점(8과목)
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">4영역
                </th>
                <td class="centerTxt">한국문화
                </td>
                <td class="centerTxt">6학점(2과목)
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">5영역
                </th>
                <td class="centerTxt">한국어교육실습
                </td>
                <td class="centerTxt">3학점(1과목)
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row" colspan="2">합계</th>
                <td class="centerTxt"><strong>45학점(15과목)</strong></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- // table -->
<h4 class="stit mTop40">자격증 로드맵 </h4>
<!-- table -->
<div class="tableType type0 top0 special-col-table-wrapper table-overflow training-loadmap">
    <table>
        <caption>★테이블caption★</caption>
        <colgroup>
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
        </colgroup>
        <thead>
            <tr class="gray">
                <th scope="col">전공<br>영역</th>
                <th scope="col">1-1</th>
                <th scope="col">1-2</th>
                <th scope="col">2-1</th>
                <th scope="col">2-2</th>
                <th scope="col">3-1</th>
                <th scope="col">3-2</th>
                <th scope="col">4-1</th>
                <th scope="col">4-2</th>
            </tr>
        </thead>
        <tbody>
            <tr class="gray">
                <th class="firstCell pattern type02 line" scope="row">1영역<br>
                    6학점<br>
                    (2과목)</th>
                <td>
                    <div>한국어학개론</div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div>한국어어문규범</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gray">
                <th class="firstCell pattern type02 line" scope="row">2영역<br>
                    6학점<br>
                    (2과목)</th>
                <td>
                    <div>언어학개론</div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div>언어습득론</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gray line">
                <th class="firstCell pattern type02 line" scope="row" rowspan="3">3영역<br>
                    24학점<br>
                    (택 8과목)
                </th>
                <td></td>
                <td>
                    <div>한국어발음
                        교육법
                    </div>
                </td>
                <td>
                    <div>한국어표현
                        교육법 </div>
                </td>
                <td>
                    <div>한국어이해
                        교육법 </div>
                </td>
                <td>
                    <div>한국어어휘
                        교육법 </div>
                </td>
                <td>
                    <div>한국어문법
                        교육법 </div>
                </td>
                <td>
                    <div>한국어
                        평가론
                    </div>
                </td>
                <td></td>
            </tr>
            <!-- // 01 -->
            <tr class="gray">
                <td></td>
                <td>
                    <div>한국어
                        교육
                        개론 </div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div>한국어
                        교재론 </div>
                </td>
                <td>
                    <div>한국어
                        한자어
                        교육법
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gray">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div>한국어문화
                        교육론
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gray">
                <th class="firstCell pattern type02 line" scope="row">4영역<br>
                    6학점<br>
                    (택 2과목) </th>
                <td>
                    <div>한국문화론</div>
                </td>
                <td>
                    <div>한국고전과
                        현대문화
                        예술 </div>
                </td>
                <td>
                    <div>한국
                        문학개론 </div>
                </td>
                <td>
                    <div>한국민속학
                        개론
                    </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gray">
                <th class="firstCell pattern type02 line" scope="row">5영역<br>3학점<br>
                    (1과목)
                </th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                    <div>한국어교육실습</div>
                </td>
            </tr>
            <!-- // 02 -->
        </tbody>
    </table>
</div>
<!-- // table -->

<div class="checkPointBox mTop20">
    <!-- boxType -->
    <h5 class="checkPoint qmark">체크포인트</h5>
    <div class="boxType type0">
        <!-- listType -->
        <div class="listType type3">
            <div class="wrap close">
                <ul class="desc">
                    <li>영역별 필수 이수 학점을 채우지 못하고 졸업할 시, 처음부터 다시 똑같은 교육과정을 이수하여야 하므로, 졸업 신청 전 반드시 재확인 바랍니다.</li>
<li>한국어교육실습 교과목은 연 2회(정규 1·2학기) 개설되며 다음과 같이 진행됨.</li>
<li>&lt;한국어교육실습&gt; 교과목은 반드시 선수과목을 이수 후 수강신청 바람(실습안내 참고).</li>
<li>&lt;한국어교육실습&gt; 교과목은 정규 수강신청 전에 실습사전신청을 통한 승인 심사를 받아야만 실습과목 수강신청이 가능.
<p class="addTxt">- 수강신청기간 보다 약 한달 전에 사전실습신청 공지 예정. (선착순 진행)</p></li>
<li>&lt;한국어교육실습&gt; 교과목은 절대평가임.</li>
<li>한국어학과 부전공 이수자의 경우 한국어교원자격증 취득은 불가함.</li>
<li>본교에서는 3급 자격증 과정을 운영하지 않음. </li>
<li>자격증 신청, 발급에 관해서는 국립국어원에 문의 바람. </li>
                </ul>
            </div>
        </div>
    </div>
</div>

