<h4 class="stit">실습지도사 자격요건 </h4>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li>한국어교원 1급 자격증 소지자
            </li>
            <li>한국어교원 2급 자격증을 보유하고 한국어교육경력 3년 이상인 자
            </li>
            <li>한국어교원 3급 자격증을 보유하고 한국어교육경력 5년 이상인 자
                <p class="paragraph ">- 한국어교육 경력은 한국어 교육기관에서 한국어 학습자를 대상으로 가르친 한국어 강의 경력과 학부/대학원에서 한국어 학습자를 대상으로 한국어 강의를 한 경력을 말한다.</p>
                <p class="paragraph ">- 한국어교원 자격증 취득 후 강의한 한국어교육경력만 인정됨.</p>
            </li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">국립국어원 한국어교육경력(한국어교육실습) 인정 기관</h4>
<p class="paragraph">국어기본법 시행령 제13조 제2항에서 정하고 있는 한국어교육 경력 인정 기관의 범위는 아래와 같습니다.</p>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li>외국어로서의 한국어 강의가 개설된 국내 대학 및 대학부설기관, 국내 대학에 준하는 외국의 대학 및 대학부설기관
            </li>
            <li>외국어로서의 한국어 수업이 개설된 국내외 초, 중, 고등학교
            </li>
            <li>외국어로서의 한국어를 가르치는 국가, 지방자치단체, 또는 외국 정부기관
            </li>
            <li>
                &lt;재한외국인 처우 기본법&gt; 제21조에 따라 외국인 정책에 관한 사업을 위탁받은 비영리법인 또는 비영리단체
            </li>
            <li>
                &lt;외교통상부와 그 소속기관 직제&gt; 제55조에 따른 문화원 및 </li>
            <li>
                &lt;재외국민의 교육지원 등에 관한 법률&gt; 제28조에 따른 한국교육원
            </li>
            <li>그 밖에 문화체육관광부장관이 제3항에 따른 한국어교원자격심사위원회의 심의를 거쳐 한국어교육 경력이 인정되는 기관 등으로 정하여 고시하는 기관 등</li>
        </ul>
    </div>
</div>
<div class="boardListTopVisual type1 mTop20">
    <div class="left">
        <p class="paragraph"><strong>
                &lt;국어기본법 시행령&gt; 제13조 제2항 제6호에 따라 고시된 기관
            </strong></p>
        <div class="listType type3 ">
            <div class="wrap close ">
                <ul class="desc ">
                    <li>세종학당재단이 지정한 세종학당</li>
                    <li>다음의 어느 하나에 해당하는 외국인력지원센터
                        <br>가 한국산업인력공단으로부터 위탁을 받아 운영하는 외국인력지원센터
                        <br>나. 지방자치단체의 장으로부터 위탁을 받아 운영하는 외국인력지원센터
                        <br>다. &lt;비영리민간단체지원법&gt;제4조 제1항에 따라 등록한 비영리민간단체가 운영하는 외국인력지원센터
                    </li>
                    <li>
                        <다문화가족지원법>제12조 제1항에 따라 지정받은 다문화가족지원센터
                    </li>
                    <li>초, 중등교육법 제60조의 2에 따른 외국인학교와 제60조의 3에 따른 대안학교</li>
                    <li>국내외 기관에 한국어교육 프로그램의 운영을 위탁하거나 한국어 교원을 파견하는 '공공기관의 운영에 관한 법률 제4조 제1항 각 호에 따른 공공기관</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="flex-box flex-center mTop20">
    <a title="새창 " class="btnType type4 " href="https://kteacher.korean.go.kr/home.do" target="_blank "><span class="inner ">협약기관 검색</span></a>
</div>
<h4 class="stit mTop40">한국어교육실습 모의수업 장소</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li><strong>평일 : </strong>고려사이버대학교 (서울특별시 종로구 계동)</li>
            <li><strong>평일/주말 : </strong>고려대학교 라이시움 (서울특별시 성북구 안암동)</li>
        </ul>
    </div>
</div>
<h5 class="sListTit slash mTop20">본교 협약기관</h5>
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="tableType type0 special-col-table-wrapper table-overflow mTop10">
    <table>
        <caption>자격증 개설과목 표</caption>
        <colgroup>
            <col style="width: 110px;">
            <col style="width: 295px;">
            <col style="width: 295px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">지역 </th>
                <th scope="col">기관명 </th>
                <th scope="col">주소 </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row" rowspan="3">서울특별시</th>
                <td class="leftTxt">고려대학교(안암) 국제어학원 한국어센터 </td>
                <td class="leftTxt">서울특별시 성북구 안암로 145
                </td>
            </tr>
            <tr>
                <td class="leftTxt">한양여자대학교 한국어교육센터 </td>
                <td class="leftTxt">서울특별시 성동구 살곶이길 200
                </td>
            </tr>
            <tr>
                <td class="leftTxt">(사)글로벌 호프, 희망의 마을 센터 </td>
                <td class="leftTxt">서울 성동구 자동차시장1길 70, 자동차매매상가 D동, 나열 9호</td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row" rowspan="2">경기</th>
                <td class="leftTxt">(사)국경없는 마을, 김포시외국인주민지원센터 </td>
                <td class="leftTxt">경기도 김포시 양촌읍 학운리 2769번지 (황금로 110번길700 52) </td>
            </tr>
            <tr>
                <td class="leftTxt">의정부외국인주민지원센터 </td>
                <td class="leftTxt">경기도 의정부시 경의로 94(의정부동) </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">대전 </th>
                <td class="leftTxt">우송대학교 한국어교육원 </td>
                <td class="leftTxt">대전광역시 동구 동대전로 171(자양동)</td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">경북 </th>
                <td class="leftTxt">영남신학대학교 국제교류교육원 </td>
                <td class="leftTxt">경상북도 경산시 진량읍 봉회1길 26</td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">광주 </th>
                <td class="leftTxt">호남대학교 국제교류본부 </td>
                <td class="leftTxt">광주광역시 광산구 호남대길 120</td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">세종특별시 </th>
                <td class="leftTxt">고려대학교(세종) 국제교류교육원 국제교육센터 </td>
                <td class="leftTxt">세종특별자치시 세종로 2511 고려대학교 세종캠퍼스 농심국제관 102호(국제교육센터)</td>
            </tr>
        </tbody>
    </table>
</div>
<h4 class="stit mTop40">관련법령</h4>
<div class="tableType type0 special-col-table-wrapper table-overflow mTop10">
    <table>
        <caption>자격증 개설과목 표</caption>
        <colgroup>
            <col style="width: 450px;">
            <col style="width: 250px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">구분 </th>
                <th scope="col">보기 </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell centerTxt" scope="row">국립국어원 한국어교원</th>
                <td>
                    <a title="새창" class="btnType type5" href="https://kteacher.korean.go.kr/home.do" target="_blank">
                        <span class="inner">바로가기</span>
                    </a>
                </td>
            </tr>
            <tr>
                <th class="firstCell centerTxt" scope="row">국립국어원 한국어교원 자격제도 길잡이(pdf)</th>
                <td>
                    <a title="새창" class="btnType type5" href="http://img.cuk.edu/practice/kl/pds_01.pdf" target="_blank">
                        <span class="inner">다운로드</span>
                    </a>
                </td>
            </tr>
            <tr>
                <th class="firstCell centerTxt" scope="row">국립국어원 한국어교육실습 교과목 운영 지침(pdf)</th>
                <td>
                    <a title="새창" class="btnType type5" href="http://img.cuk.edu/practice/kl/pds_02.pdf" target="_blank">
                        <span class="inner">다운로드</span>
                    </a>
                </td>
            </tr>
            <tr>
                <th class="firstCell centerTxt" scope="row">국립국어원 한국어교육실습 영역 지침 관련 서식
                    <p class="addTxt">[Lix] &gt; [실습] &gt; [한국어교육실습] &gt; [실습자료실]</p>
                </th>
                <td>
                    <a title="새창" class="btnType type5" href="https://lix.cuk.edu" target="_blank">
                        <span class="inner">바로가기</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h4 class="stit mTop40">관련법령</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>1, 2학년 시기부터 한국어교원 실습의 전반적인 과정을 숙지하고 있어야 함.</li>
            <li>실습시간, 실습형태를 실습생이 ‘임의로’ 정하여 기관 혹은 학교에 통보하지 말 것.</li>
            <li>외부 실습기관에서 진행되는 ‘참관수업’ 일정은 대략적인 기간과 요일만이 우선 공지 됨.
                <p class="paragraph ">텍스트텍스트텍스트</p>(이는 실습기관의 학사일정상 참관 가능한 구체적 날짜와 시간이 추후에 확정되기 때문입니다.)</li>
            <li>실습기관에서 수용 가능한 실습인원이 학기별로 변동될 수 있음. (선착순)
                <br>- 승인 이후에는 실습기관 및 일정 변경이 불가합니다.</li>
            <li>해외 학생의 경우는 본인이 거주하는 외국 현지의 한국어 교육 기관으로 국립국어원 인정 기관이 아니더라도 일정한 공간에서 정기적으로 집합 한국어강의를 진행하고 있으며, 현장실습지도자가 있어 한국어 강의 및 실습생들에 대한 관리가 이루어 질 수 있는 기관에서 실습할 수 있음.
                <br>- 다만, 이를 위해서는 반드시 실습생이 해당 기관에 미리 협의를 거쳐야 합니다.</li>
        </ul>
    </div>
</div>