<h4 class="stit">사회복지사란?</h4>
<p class="paragraph">
    사회복지사는 청소년, 노인, 여성, 가족, 장애인 등 다양한 사회적, 개인적 욕구를 가진 사람들의 문제에 대한 사정과 평가를 통해 문제 해결을 돕고 지원합니다. 사회적, 개인적 문제로 어려움에 처한 클라이언트(client) 만나 그들이 처한 상황과 문제를 파악하고, 문제를 처리, 해결하는 데 필요한 방안을 찾기 위해 관련 자료를 수집, 분석하여 대안을 제시합니다. 재정적 보조, 법률적 조언 등 의뢰인이 필요로 하는 각종 사회복지프로그램을 기획,
    시행, 평가하며, 공공복지 서비스의 전달을 위한 대상자 선정 작업, 복지조치, 급여, 생활지도 등을 합니다. 사회복지정책 형성과정에 참여하여 정책분석과 평가를 하며 정책대안을 제시하기도 합니다.

</p>
<div class="majorSystem mTop20">
    <p><img alt="" src="http://stgimg.cuk.edu/practicum/sw/img_sw_main.png"> </p>
</div>
<div class="summary-wrapper top blue stage3 mTop20">
    <!-- box -->
    <div class="box">
        <div class="text title">직업분야</div>
        <div class="text con">
            <div class="">사회복지전문직, 사회서비스(전문직)</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">핵심능력</div>
        <div class="text con">
            <div class="paragraph">역량강화능력, 자기성찰능력, 대인관계능력</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">사회이슈</div>
        <div class="text con">
            <div class="paragraph">2019정부정책에 따라 사회복지 공무원 일자리 창출 및 예산증가
            </div>
        </div>
    </div>
    <!-- //box -->
</div>
<!-- //box-wrapper -->
<div class="summary-wrapper bottom blue stage3">
    <!-- box -->
    <div class="box">
        <div class="text title">관련 자격증</div>
        <div class="text con">
            <div class="paragraph">사회복지사 1, 2급</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">고려사이버대<br>사회복지학과 재학생</div>
        <div class="text con">
            <ul class="list">
                <li>20대 이하 : 18.9%</li>
                <li>30대 : 17.8%</li>
                <li>40대 이상 : 63.2%</li>
            </ul>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">고려사이버대<br>관련학과</div>
        <div class="text con">
            <div class="paragraph"><strong class="underline">사회복지학과</strong>, 상담심리학과, 아동학과, 평생·직업교육학과, 보건행정학과</div>
        </div>
    </div>
    <!-- //box -->
</div>
<!-- //box-wrapper -->
<div class="flex-box">
    <div class="addTxt mTop10 left-auto">
        (출처 : ‘커리어넷 직업정보 19.10 일부 발췌)
    </div>
</div>
<h4 class="stit mTop40">사회복지사의 직무</h4>
<div class="majorSystem mTop20">
    <p><img alt="사회복지사의 직무 : 하단 설명 참고" src="http://stgimg.cuk.edu/practicum/sw/img_diagram.png"> </p>
    <p class="imageView">
        <a title="새창" class="btnType type0" href="http://stgimg.cuk.edu/practicum/sw/img_diagram.png" target="_blank"> <span class="inner"> <span class="bg type0">확대 보기</span> </span>
        </a>
    </p>
    <div class="blind">
        <dl>
            <dt>사회복지사</dt>
            <dd>복지 행정 </dd>
            <dd>프로그램기획 및 분석 </dd>
            <dd>복지 정책 </dd>
            <dd>프로그램평가 </dd>
            <dd> 기관 운영 </dd>
            <dd>기관 및 지역사회 네트워킹 </dd>
            <dd>복지 상담 </dd>
        </dl>
    </div>
</div>
<h4 class="stit mTop40">자격증 취득 후 진로</h4>
<p class="paragraph">
    사회복지사가 되려면 한국사회복지사협회에서 발급하는 사회복지사 자격증이 필요합니다. 사회복지사 자격증은 전문대학, 대학교, 대학원 등에서 사회복지학, 사회사업 등 관련학과를 졸업해서 취득하는 것이 일반적입니다. 2급 자격증은 자격 요건이 되면 취득할 수 있으나 1급은 국가시험에 합격해야 합니다. 주로 종합사회복지관, 노인복지관, 장애인복지관, 아동복지관 등에서 일할 수 있습니다.
</p>
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="tableType type0 special-col-table-wrapper mTop10 table-overflow">
    <table>
        <caption>
            자격증 취득 후 진로 표
        </caption>
        <colgroup>
            <col style="width: 175px;">
            <col style="width: 175px;">
            <col style="width: 175px;">
            <col style="width: 175px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">국가·공공기관</th>
                <th scope="col">사회복지시설</th>
                <th scope="col">산업체</th>
                <th scope="col">기타</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="leftTxt firstCell">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>보건복지부/시도/시군구/동 사회복지전담공무원</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>종합사회복지관</li>
                                <li>장애인복지기관</li>
                                <li>노인복지기관</li>
                                <li>아동복지관</li>
                                <li>다문화가족지원센터</li>
                                <li>건강가정지원센터</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>기업복지재단</li>
                                <li>공익사업</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>대학원 진학</li>
                                <li>국책연구소</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<h4 class="stit mTop40">문의처</h4>
<h5 class="sListTit type0 mTop0">한국사회복지사협회</h5>
<p class="paragraph">- 전화 : 02-786-0845~7 / 팩스 : 02-786-0191</p>