<h4 class="stit">자격증 취득절차</h4>
<p class="paragraph">사회복지사 자격증 관련 교과목을 이수하고 학위를 취득하여야 2급 자격증을 취득할 수 있으며, 1급 자격증은 국가시험에 응시하여 합격하여야 합니다. 자격증 신청, 발급에 관한 문의는 한국사회복지사협회로 하시기 바랍니다. (편입학ㆍ복수전공자 동일)
</p>
<div class="boxType type1">
    <div class="flex-box">
        <div>
            <h5 class="sListTit">한국사회복지사협회 </h5>
            <p class="paragraph">- 전화 : 02-786-0845~7 / 팩스 : 02-786-0191</p>
        </div>
        <div class="left-auto">
            <a title="새창" class="btnType type5" href="http://www.welfare.net" target="_blank"><span class="inner">바로가기</span></a>
        </div>
    </div>
</div>
<!-- 절차 -->
<div class="step-wrap license mTop30">
    <div class="box step01">
        <div class="step-box">
            <span class="title">1단계</span>
        </div>
        <div class="step-con-box bg">
            <span>고려사이버대학교 입학</span>
        </div>
        <div class="step-con-box">
            사회복지학과 (타학과 가능)
        </div>
    </div>
    <div class="box step02">
        <div class="step-box">
            <div class="step-triangle"></div>
            <span class="title">2단계</span>
        </div>
        <div class="half-box">
            <div class="step-con-box half">2급 자격 관련 교과목 이수 </div>
            <span class="plus"></span>
            <div class="step-con-box half">졸업최소이수학점 이수 </div>
        </div>
    </div>
    <div class="box step03">
        <div class="step-box">
            <div class="step-triangle"></div>
            <span class="title">3단계</span>
        </div>
        <div class="step-con-box">학부 졸업
        </div>
    </div>
    <div class="box step04">
        <div class="step-box">
            <div class="step-triangle"></div>
            <span class="title">4단계</span>
        </div>
        <div class="step-con-box bg">
            <span>한국사회복지사협회<br> 자격증 신청 (인터넷 접수)</span>
        </div>
        <!-- list box -->
        <div class="list-box-wrapper">
            <!-- section 2단 -->
            <div class="section">
                <!-- list-box -->
                <div class="list-box  stage-2">
                    <div class="title"><span>1</span>신청 및 서류제출
                    </div>
                    <div class="con">
                        <div class="con-box">
                            <ul class="listType type11">
                                <li>사회복지사 자격증 발급신청서</li>
                                <li>성적증명서</li>
                                <li>졸업증명서</li>
                                <li>반명함판(3x4cm) 사진2매</li>
                                <li>사회복지현장실습확인서</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- list-box -->
                <!-- list-box -->
                <div class="list-box stage-2">
                    <div class="title"><span>2</span>자격 심사 </div>
                    <div class="con">
                        <div class="con-box normal">사회복지사 자격심사 </div>
                    </div>
                </div>
                <!-- list-box -->
            </div>
            <!-- //section 2단-->
            <!-- section 2단 -->
            <div class="section">
                <!-- list-box -->
                <div class="list-box  stage-2">
                    <div class="title"><span>3</span>발표</div>
                    <div class="con">
                        <div class="con-box normal">합격자발표</div>
                    </div>
                </div>
                <!-- list-box -->
                <!-- list-box -->
                <div class="list-box stage-2">
                    <div class="title"><span>4</span>자격증 발급 </div>
                    <div class="con">
                        <div class="con-box normal">사회복지사 자격증 </div>
                    </div>
                </div>
                <!-- list-box -->
            </div>
            <!-- //section 2단-->
        </div>
        <!-- //list-box -->
    </div>
</div>
<!-- //절차 -->