<h4 class="stit">사회복지현장실습</h4>
<h5 class="sListTit slash">개요</h5>
<p class="paragraph">사회복지현장실습은 사회복지사 2급 자격을 갖추기 위한 법정필수과목 중 하나로서 학교에서 배운 이론을 사회복지실천현장에 적용하고 실행하는 방법을 배우는 과정으로, 사회복지 교육 과정의 핵심입니다. </p>
<h5 class="sListTit slash mTop20">교육목적</h5>
<p class="paragraph ">사회복지현장실습의 교육 목적은 학생들에게 사회복지 실천의 가치, 이론, 지식, 기술을 바탕으로 전문능력을 함양할 수 있는 기회를 제공하는 것입니다. </p>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li><strong>목적 1 : </strong>사회복지의 구체적인 실천 과정을 이해하고 습득합니다.</li>
            <li><strong>목적 2 : </strong>사회복지 전문가로서의 가치, 윤리 및 태도에 관련된 지식과 기술을 학습하는 기회를 갖습니다.</li>
        </ul>
    </div>
</div>
<h5 class="sListTit slash mTop20">교육의의</h5>
<p class="paragraph ">사회복지현장실습의 교육적 의의는 전반적인 실습의 목적과 더불어 이를 통해 사회복지사의 역할 및 활동을 이해함으로써 사회복지사로서의 전문직 정체성을 형성하는 것입니다. 즉 실습생은 실습과정을 통해서 클라이언트의 문제를 이해하고, 이러한 문제를 해결하기 위해 서비스를 제공하는 기관의 종류와 기능 및 구조를 이해할 수 있습니다. 실습과정이 끝날 즈음에 전문적 사회복지 실천을 위한 기본 지식과 기술을 통합하여 다양한 실제 사례에 맞게 적용하는 방법을 이해할
    수 있습니다.</p>
<h4 class="stit mTop40">신청자격</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>66학점, 4학기(정규학기만 해당/계절학기 제외) 이수한 자(즉, 3, 4학년)</li>
            <li>선수과목 4과목과 전공과목 4과목, 총 8과목을 이수한 자 <span class="point">(반드시 선수과목부터 수강)</span></li>
        </ul>
    </div>
</div>
<p class="paragraph point">※ 반드시 위 조건을 모두 충족해야 실습 사전 신청이 가능하며, 본교 재학생에 한 해 신청가능합니다.</p>
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="tableType type0 special-col-table-wrapper mTop10 table-overflow">
    <table>
        <caption>
            신청자격 표
        </caption>
        <colgroup>
            <col style="width: 140px;">
            <col style="width: 140px;">
            <col style="width: 420px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">구분</th>
                <th scope="col">과목구분</th>
                <th scope="col">과목정보</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row" rowspan="3">선수과목<br>(4과목) </th>
                <th class="centerTxt" scope="row"><strong>필수 (3과목)</strong></th>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>사회복지학개론, 인간행동과 사회환경, 사회복지실천론 모두 수강</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="centerTxt" scope="row"><strong>선택 (1과목)</strong></th>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>사회복지실천기술론, 프로그램개발과 평가 中 택1</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="leftTxt" colspan="2">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>사회복지실천론 교과목은 사회복지학개론, 인간행동과 사회환경 과목 이수 후 수강가능</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <th class="firstCell thBg centerTxt" scope="row">전공과목<br>(4과목) </th>
                <td class="leftTxt" colspan="2">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>학수번호 ‘SW’로 시작하는 사회복지학과 전공과목 中 4과목 (단, 가족정책론, 건강가정론 과목은 제외)</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h4 class="stit mTop40">실습 진행절차</h4>
<div class="list-box-wrapper type02 mTop10">
    <div class="step-box pattern type01">
        <span>1단계 : 현장실습 자격 충족 및 기관 탐색</span>
    </div>
    <!-- section 3단-->
    <div class="section">
        <!-- list-box -->
        <div class="list-box stage-3">
            <div class="title"><span>1</span>학생</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">
                        4학기, 66학점 이상 이수자
                    </div>
                    <div class="con-box border-top">
                        실습 지정과목(4과목)
                        <br>반드시 이수완료 및
                        <br>전공선택과목(4과목) 이수
                    </div>
                    <div class="btn-box">
                        <a title="새창 " class="btnType type4 no-radius" href="http://stgpracticum.cuk.edu/141979.do " target="_self"><span class="inner ">바로가기</span></a>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <!-- list-box -->
        <!-- list-box -->
        <div class="list-box stage-3">
            <div class="title"><span>2</span>학생
                <div class="arrow type02"></div>기관</div>
            <div class="con">
                <div class="con-box normal">실습 가능한 연계기관 알아보기</div>
                <div class="btn-box">
                    <a title="새창 " class="btnType type4 no-radius" href="http://lic.welfare.net/lic/SearchPracticeOrgan.action" target="_blank "><span class="inner ">바로가기</span></a>
                </div>
            </div>
        </div>
        <!-- list-box -->
        <!-- list-box -->
        <div class="list-box stage-3 ">
            <div class="title "><span>3</span>학생
                <div class="arrow type02"></div>기관</div>
            <div class="con">
                <div class="con-box normal">실습 동의 받기
                </div>
                <!-- 1단 +  기본 -->
            </div>
        </div>
        <!-- list-box -->
    </div>
    <!-- //section 3단-->
    <div class="step-box pattern type02">
        <span>2단계 : 사전실습신청 및 '사회복지현장실습' 과목 수강신청</span>
    </div>
    <!-- section 3단-->
    <div class="section">
        <!-- list-box -->
        <div class="list-box stage-3">
            <div class="title"><span>4</span>학생
                <div class="arrow type02"></div>학교
            </div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">사전실습신청
                        <br>(실습생신상서, 실습의뢰신청서 제출)</div>
                    <div class="con-box border-top">
                        <span class="addTxt">LIX.cuk.edu 진행</span>

                    </div>
                    <div class="btn-box">
                        <a title="새창 " class="btnType type4 no-radius mTop10" href="https://lix.cuk.edu " target="_blank "><span class="inner ">바로가기</span></a>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <!-- list-box -->
        <!-- list-box -->
        <div class="list-box stage-3">
            <div class="title"><span>5</span>학교
                <div class="arrow type02"></div>학생
            </div>
            <div class="con">
                <!-- 좌+우 -->
                <div class="row">
                    <div class="con-box normal">실습 승인 (SMS, E-mail 안내) </div>
                </div>
                <!-- //좌+우 -->
            </div>
        </div>
        <!-- list-box -->
        <!-- list-box -->
        <div class="list-box stage-3 ">
            <div class="title "><span>6</span>학생</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">[사회복지현장실습] 과목 수강신청
                    </div>
                    <div class="con-box border-top">
                        <span class="addTxt">LIX.cuk.edu 진행</span>

                    </div>
                    <div class="btn-box">
                        <a title="새창 " class="btnType type4 no-radius mTop10" href="https://lix.cuk.edu " target="_blank "><span class="inner ">바로가기</span></a>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <!-- list-box -->
    </div>
    <!-- //section 3단-->
    <div class="step-box pattern type03">
        <span>3단계 : 실습수행 및 종결
        </span>
    </div>
    <!-- section 3단-->
    <div class="section">
        <!-- list-box -->
        <div class="list-box stage-3">
            <div class="title"><span>7</span>학생</div>
            <div class="con">
                <div class="con-box normal">[사회복지현장실습] 수강 대면수업(3회) 참석 현장실습 진행
                </div>
            </div>
        </div>
        <!-- list-box -->

        <!-- list-box -->
        <div class="list-box stage-3">
            <div class="title"><span>8</span>기관→ 학교
            </div>
            <div class="con">
                <div class="con-box normal">실습종결 후 실습평가서 및 실습확인서 송부
                </div>
            </div>
        </div>
        <!-- list-box -->

        <!-- list-box -->
        <div class="list-box stage-3 ">
            <div class="title "><span>9</span>학생</div>
            <div class="con">
                <div class="con-box normal"> 사회복지사 자격증 신청
                </div>
            </div>
        </div>
        <!-- list-box -->
    </div>
    <!-- //section 3단-->
</div>
<!-- 실습안내 진행절차 - type02 -->
<h4 class="stit mTop40">실습유형</h4>
<div class="tableType type0 top0 special-col-table-wrapper mTop10 table-overflow">
    <table>
        <caption>
            실습유형 표
        </caption>
        <colgroup>
            <col style="width: 140px;">
            <col style="width: 140px;">
            <col style="width: 420px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">구분</th>
                <th scope="col">형태 </th>
                <th scope="col">상세내용</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row" rowspan="2">요일 </th>
                <td class="centerTxt" scope="row">주중(월~금) 실습</td>
                <td class="leftTxt">주중에 서비스가 제공되는 사회복지기관에서 주중에 실시 가능 </td>
            </tr>
            <tr>
                <td class="centerTxt" scope="row">주말(토,일) 실습 </td>
                <td class="leftTxt">주말에 서비스가 제공되는 사회복지기관에서 주말에 실시 가능</td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row" rowspan="2">시간대 </th>
                <td class="centerTxt" scope="row">주간실습 </td>
                <td class="leftTxt">주간에 서비스가 제공되는 사회복지기관에서 주간에 실시 가능</td>
            </tr>
            <tr>
                <td class="centerTxt" scope="row">야간실습</td>
                <td class="leftTxt">야간에 서비스가 제공되는 사회복지기관에서 야간에 실시 가능 </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li>실습은 1일 최소 4시간 이상 진행해야 하며, 1일 최대 8시간까지만 실습으로 인정함 </li>
            <li>주중 실습 주말 실습 모두 주간 또는 야간 실습 가능함. </li>
            <li>주간실습을 우선으로 하되 직장인 등 주간실습이 어려운 경우 주말실습, 야간실습 등 신청할 수 있으나 지도교수와 충분히 상담 후 승인 가능함. </li>
            <li>동일 직장 내에서 진행하는 직장실습의 경우 한국사회복지사협회 지침상 불가함(2019년 현재). </li>
            <li>기타 세부적인 실습시간 및 기간은 실습생과 실습기관의 사정에 따라 다소 달라질 수 있으나 실습규정상의 실습기간(해당 학기 내) 및 시간은 필히 준수하여야 함. </li>
            <li>실습기관 및 실습지도자 요건을 반드시 충족하는 기관에서 실시해야 함.</li>
        </ul>
    </div>
</div>
<h4 class="stit summary-wrapper mTop40">유의사항
    <span>예) ‘노인복지’ 영역에 관심있는 경우</span>
</h4>
<div class="listType type4">
    <div class="row">
        <div class="tit"><strong>1학년</strong></div>
        <div class="txt">
            <p class="paragraph">1. 전공과목(선수과목) 수강
                <br>2. 자원봉사 탐색</p>
        </div>
    </div>
    <!-- //list -->
    <div class="row">
        <div class="tit"><strong>2학년</strong></div>
        <div class="txt">
            <p class="paragraph">1. 전공과목(노인복지론 포함) 수강
                <br>2. 자원봉사 진행 및 실습기관 탐색</p>
        </div>
    </div>
    <!-- //list -->
    <div class="row">
        <div class="tit"><strong>3학년</strong></div>
        <div class="txt">
            <p class="paragraph">1. 실습지(노인복지분야/노인복지관 등) 선정, 기관 면담
                <br>2. 실습의뢰요청서 및 실습생 신상서 제출(학교 사회복지현장실습 홈페이지)</p>
        </div>
    </div>
    <!-- //list -->
    <div class="row">
        <div class="tit"><strong>4학년</strong></div>
        <div class="txt">
            <p class="paragraph">만일 위와 달리 2학년 시기에 노인복지론을 미수강한 경우, 3학년 시기에 수강하고 4학년 시기에 실습할 것을 권장</p>
        </div>
    </div>
    <!-- //list -->
</div>