<h4 class="stit">자격증 개설 교과목 </h4>
<div class="certificate spaces02 mTop20">
    <ul class="certificate-tab">
        <li class="tab-link active" data-tab="tab-1">현행법령<br>
            <span class="small">(2020년 1학기 신·편입생부터)</span></li>
        <li class="tab-link" data-tab="tab-2">종전법령<br>
            <span class="small">(2009년 2학기 신·편입생부터)</span> </li>
    </ul>
    <div id="tab-1" class="tab-content active">
        <h5 class="sListTit slash">사회복지사 2급 자격증 개설과목 </h5>
        <div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
        <!-- table -->
        <div class="tableType type0 special-col-table-wrapper table-overflow mTop10">
            <table>
                <caption>자격증 개설과목 표</caption>
                <colgroup>
                    <col style="width: 66px;">
                    <col style="width: 66px;">
                    <col style="width: 142px;">
                    <col style="width: 142px;">
                    <col style="width: 142px;">
                    <col style="width: 142px;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" colspan="2" class="th-border-bottom">구분</th>
                        <th scope="col">1학년 </th>
                        <th scope="col">2학년 </th>
                        <th scope="col">3학년 </th>
                        <th scope="col">4학년 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="3">필수<br> <span class="addTxt">(10과목)</span> </th>
                        <th class="thBg" scope="row">통년</th>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지학개론</li>
                                        <li>인간행동과 사회환경</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지실천론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                        </td>
                        <td class="leftTxt">
                        </td>
                    </tr>
                    <tr>
                        <th class="thBg" scope="row">1학기</th>
                        <td class="leftTxt">

                        </td>
                        <td class="leftTxt">
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지정책론</li>
                                        <li>사회복지실천기술론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">

                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지현장실습</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="thBg" scope="row">2학기</th>
                        <td class="leftTxt">
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지조사론</li>
                                        <li>지역사회복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지행정론</li>
                                        <li>사회복지현장실습</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지법제와 실천</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- //필수 -->

                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="2">선택<br> <span class="addTxt">(7과목<br>이상)</span> </th>
                        <th class="thBg" scope="row">1학기</th>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>아동복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>노인복지론
                                        </li>
                                        <li>사회복지역사
                                        </li>
                                        <li>사회복지윤리와 철학</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>프로그램개발과 평가
                                        </li>
                                        <li>의료사회복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회보장론</li>
                                        <li>사례관리론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="thBg" scope="row">2학기</th>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회문제론
                                        </li>
                                        <li>자원봉사론
                                        </li>
                                        <li>청소년복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>가족복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>여성복지론
                                        </li>
                                        <li>장애인복지론
                                        </li>
                                        <li>학교사회복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>정신건강사회복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- //선택 -->
                </tbody>
            </table>
        </div>
        <!-- // table -->
        <ul class="n-list-type mTop10">
            <li>사회복지학 전공교과목과 사회복지관련 교과목’을 시행일 이전에 1과목이라도 이수하고 있다면 변경 전 법령에 따라 적용
                <br>- 변경 전 법령 기준 : 필수과목 10과목과 선택과목 4과목 이상, 사회복지현장실습 120시간 이상
                <br>- 사회복지전공 학과생이 시행일 당시 사회복지관련 교과목을 1과목도 이수하지 않은 경우 개정 법령 적용 (현행 사회복지법은 학과기준이 아니고 교과목 기준임)
            </li>
        </ul>
    </div>
    <!-- //tab-1 -->

    <div id="tab-2" class="tab-content">
        <h5 class="sListTit slash">사회복지사 2급 자격증 개설과목</h5>
        <div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
        <!-- table -->
        <div class="tableType type0 special-col-table-wrapper table-overflow mTop10">
            <table>
                <caption>자격증 개설과목 표</caption>
                <colgroup>
                    <col style="width: 66px;">
                    <col style="width: 66px;">
                    <col style="width: 142px;">
                    <col style="width: 142px;">
                    <col style="width: 142px;">
                    <col style="width: 142px;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" colspan="2" class="th-border-bottom">구분</th>
                        <th scope="col">1학년 </th>
                        <th scope="col">2학년 </th>
                        <th scope="col">3학년 </th>
                        <th scope="col">4학년 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="3">필수<br> <span class="addTxt">(10과목)</span> </th>
                        <th class="thBg" scope="row">통년</th>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지학개론</li>
                                        <li>인간행동과 사회환경</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지실천론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                        </td>
                        <td class="leftTxt">
                        </td>
                    </tr>
                    <tr>
                        <th class="thBg" scope="row">1학기</th>
                        <td class="leftTxt">
                        </td>
                        <td class="leftTxt">
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지정책론</li>
                                        <li>사회복지실천기술론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지현장실습</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="thBg" scope="row">2학기</th>
                        <td class="leftTxt">
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지조사론</li>
                                        <li>지역사회복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지행정론</li>
                                        <li>사회복지현장실습</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>사회복지법제와 실천</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- //필수 -->

                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="2">선택<br> <span class="addTxt">(4과목<br>이상)</span> </th>
                        <th class="thBg" scope="row">1학기</th>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>아동복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>노인복지론</li>
                                        <li>사회복지역사</li>
                                        <li>사회복지윤리와 철학</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>프로그램개발과 평가</li>
                                        <li>의료사회복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3">
                                <div class="wrap close">
                                    <ul class="desc">
                                        <li>사회보장론</li>
                                        <li>사례관리론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="thBg" scope="row">2학기</th>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc">
                                        <li>사회문제론</li>
                                        <li>자원봉사론</li>
                                        <li>청소년복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>가족복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>여성복지론</li>
                                        <li>장애인복지론</li>
                                        <li>학교사회복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>정신건강사회복지론</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- //선택 -->
                </tbody>
            </table>
        </div>
        <!-- // table -->
        <ul class="n-list-type mTop10">
            <li><img src="http://stgimg.cuk.edu/university/ico/ico_no01.gif" alt="">2020년 신·편입생부터 선택과목이 7과목 이상으로 변경됨</li>
        </ul>
    </div>
    <!-- //tab-2 -->
</div>
<h4 class="stit mTop40">실습관련 개설과목 </h4>
<div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
<!-- table -->
<div class="tableType type0 top0 special-col-table-wrapper table-overflow">
    <table>
        <caption>실습관련 개설과목 표</caption>
        <colgroup>
            <col style="width: 140px;">
            <col style="width: 140px;">
            <col style="width: 420px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">구분</th>
                <th scope="col">과목구분</th>
                <th scope="col">과목정보</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row" rowspan="3">선수과목<br>(4과목) </th>
                <th class="centerTxt" scope="row"><strong>필수 (3과목)</strong></th>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>사회복지학개론, 인간행동과 사회환경, 사회복지실천론 모두 수강</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="centerTxt" scope="row"><strong>선택 (1과목)</strong></th>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>사회복지실천기술론, 프로그램개발과 평가 中 택1</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="leftTxt" colspan="2">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>사회복지실천론 교과목은 사회복지학개론, 인간행동과 사회환경 과목 이수 후 수강가능</li>
                                <li>1일 8시간/주1회/한 학기 (권장, 계절학기의 경우 불가)</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <th class="firstCell thBg centerTxt" scope="row">전공과목<br>(4과목) </th>
                <td class="leftTxt" colspan="2">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>학수번호 'SW'로 시작하는 사회복지학과 전공과목 中 4과목<br>(단, 가족정책론, 건강가정론, 케어기빙 과목은 제외)</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- // table -->
<div class="checkPointBox mTop20">
    <!-- boxType -->
    <h5 class="checkPoint qmark">체크포인트</h5>
    <div class="boxType type0">
        <!-- listType -->
        <div class="listType type3">
            <div class="wrap close">
                <ul class="desc">
                    <li>사회복지현장실습 교과목은 연 4회(정규 1·2학기, 여름·겨울 계절학기) 개설되며 다음과 같이 진행됨.</li>
                    <li>사회복지현장실습 교과목 또한 타 과목과 동일하게 해당 학기 15인 미만 수강신청시 폐강됨.</li>
                    <li>사회복지현장실습 교과목은 절대평가이며 한국사회복지사협회 규정상 실습기관평가 50% 이상을 반영함</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h4 class="stit mTop40">자격증 로드맵 </h4>
<div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
<!-- table -->
<div class="tableType type0 top0 special-col-table-wrapper table-overflow training-loadmap">
    <table>
        <caption>자격증 로드맵 표</caption>
        <colgroup>
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
            <col style="width: 77.7px;">
        </colgroup>
        <thead>
            <tr class="gray">
                <th scope="col">구분</th>
                <th scope="col">1-1</th>
                <th scope="col">1-2</th>
                <th scope="col">2-1</th>
                <th scope="col">2-2</th>
                <th scope="col">3-1</th>
                <th scope="col">3-2</th>
                <th scope="col">4-1</th>
                <th scope="col">4-2</th>
            </tr>
        </thead>
        <tbody>
            <tr class="gray">
                <th class="firstCell pattern type02 line" scope="row" rowspan="3">필수</th>
                <td>
                    <div>사회복지학개론</div>
                </td>
                <td>
                    <div>사회복지학개론</div>
                </td>
                <td>
                    <div>사회복지실천론</div>
                </td>
                <td>
                    <div>사회복지실천론</div>
                </td>
                <td>
                    <div>사회복지정책론</div>
                </td>
                <td>
                    <div>사회복지행정론</div>
                </td>
                <td>
                    <div>사회복지현장실습</div>
                </td>
                <td>
                    <div>사회복지법제와 실천</div>
                </td>
            </tr>
            <tr class="gray">
                <td>
                    <div>인간행동과 사회환경</div>
                </td>
                <td>
                    <div>인간행동과 사회환경</div>
                </td>
                <td></td>
                <td>
                    <div>지역사회복지론</div>
                </td>
                <td>
                    <div>사회복지실천기술론</div>
                </td>
                <td>
                    <div>사회복지현장실습</div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gray line">
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div>사회복지조사론</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- // 01 -->

            <tr class="gray">
                <th class="firstCell pattern type05" scope="row" rowspan="3">선택<br>(최소<br>7과목<br>이상)</th>
                <td>
                    <div>아동복지론</div>
                </td>
                <td>
                    <div>사회문제론</div>
                </td>
                <td>
                    <div>노인복지론</div>
                </td>
                <td>
                    <div>가족복지론</div>
                </td>
                <td>
                    <div>프로그램개발과 평가</div>
                </td>
                <td>
                    <div>여성복지론</div>
                </td>
                <td>
                    <div>사회보장론</div>
                </td>
                <td>
                    <div>정신건강사회복지론</div>
                </td>
            </tr>
            <tr class="gray">
                <td></td>
                <td>
                    <div>자원봉사론</div>
                </td>
                <td>
                    <div>사회복지역사</div>
                </td>
                <td></td>
                <td>
                    <div>의료사회복지론</div>
                </td>
                <td>
                    <div>장애인복지론</div>
                </td>
                <td>
                    <div>사례관리론</div>
                </td>
                <td></td>
            </tr>
            <tr class="gray">
                <td></td>
                <td>
                    <div>청소년복지론</div>
                </td>
                <td>
                    <div>사회복지윤리와철학</div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div>학교사회복지론</div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <!-- // 02 -->
        </tbody>
    </table>
</div>
<!-- // table -->
<script>
    $(document).ready(function() {

        $('ul.certificate-tab li').click(function() {
            var tab_id = $(this).attr('data-tab');

            $('ul.certificate-tab li').removeClass('active');
            $('.tab-content').removeClass('active');

            $(this).addClass('active');
            $("#" + tab_id).addClass('active');
        });
    })
</script>
<!-- // -->