<h4 class="stit">실습지도사 자격요건 </h4>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li>사회복지사 1급 자격증을 소지한 자로서 3년 이상 사회복지사업의 실무경험이 있는 자
            </li>
            <li>사회복지사 2급 자격증을 소지한 자로서 5년 이상 사회복지사업의 실무경험이 있는 자
            </li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">실습기관</h4>
<p class="paragraph">학생이 개별적으로 한국사회복지사협회 자격관리센터에 등록기관 검색 후 실습기관을 접촉하여 실습가능여부 및 실습기간에 대한 동의 필요</p>
<div class="flex-box flex-center mTop20">
    <a title="새창 " class="btnType type4 " href="http://lic.welfare.net " target="_blank "><span class="inner ">실습기관 선정 현황 보기</span></a>
</div>
<h4 class="stit mTop40">실습시간 기준 </h4>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li>2020학년도 이전 입학생 및 편입생: 120시간 이상 </li>
            <li>2020학년도 신입생 및 편입생부터: 160시간 이상</li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">관련법령 </h4>
<div class="boardListTopVisual type1 bg">
    <div class="left">
        <p class="paragraph"><strong>(사회복지사업법 시행규칙) [별표1]</strong></p>
        <p class="paragraph">가) 사회복지사업을 수행하는 기관, 법인, 시설 또는 단체일 것</p>
        <p class="paragraph">나) 보건복지부장관으로부터 선정되었을 것</p>
        <p class="paragraph">다) 다음의 요건을 모두 갖춘 기관실습 지도자가 2명 이상 상근할 것 </p>
        <ol class="list-style num">
            <li>1급 사회복지사 자격증을 취득한 이후 3년 이상의 사회복지사업 실무경험이 있거나 2급 사회복지사 자격증을 취득한 이후 5년 이상의 사회복지사업 실무경험이 있을 것</li>
        </ol>
    </div>
</div>