<h4 class="stit mTop40">
    사전실습신청</h4>
<div class="boardListTopVisual type1">
    <div class="left">
        <p class="text0 mTop0">사전실습신청은</p>
        <p class="text1">본교 재학생에 한 해 신청 가능합니다. 로그인 후 아래 경로에 따라 이용하시기 바랍니다.</p>
    </div>
</div>

<!-- 절차 -->
<div class="box-type-list section-4 mTop20">
    <div class="list-box">
        <span class="num">1</span> LIX 로그인 </div>
    <div class="list-box">
        <span class="num">2</span> [실습] > 각 실습의<br>[사전실습신청] </div>
    <div class="list-box">
        <span class="num">3</span> [신청서] 작성 </div>
    <div class="list-box">
        <span class="num">4</span> 제출 </div>
</div>

<div class="flex-box flex-center mTop20">
    <a title="새창 " class="btnType type4 " href="https://lix.cuk.edu " target="_blank "><span class="inner ">바로가기</span></a>
</div>