<h4 class="stit">평생교육사란?</h4>
<p class="paragraph">
    근래 평생교육의 필요성과 이를 수행할 전문가에 대한 사회적 요구는 점차 높아지고 있습니다. 평생교육사는 평생교육의 기획〮진행〮분석〮평가 및 교수업무를 수행하면서 평생교육의 이념을 실천하는 전문가입니다. 평생교육사가 각 평생교육기관에서 수행할 수 있는 구체적인 역할은 다음과 같습니다.
</p>
<div class="majorSystem mTop20">
    <p><img alt="" src="http://stgimg.cuk.edu/practicum/ed/img_sw_main.png"> </p>
</div>
<div class="summary-wrapper top blue stage3 mTop20">
    <!-- box -->
    <div class="box">
        <div class="text title">직업분야</div>
        <div class="text con">
            <div class="paragraph">평생교육사, 직업상담사, 전문강사, 사회사업가</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">핵심능력</div>
        <div class="text con">
            <div class="paragraph">언어능력, 자기성찰능력, 대인관계능력</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">사회이슈</div>
        <div class="text con">
            <div class="paragraph">없음</div>
        </div>
    </div>
    <!-- //box -->
</div>
<!-- //box-wrapper -->
<div class="summary-wrapper bottom blue stage3">
    <!-- box -->
    <div class="box">
        <div class="text title">관련 자격증</div>
        <div class="text con">
            <div class="paragraph">평생교육사 1, 2, 3급</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">고려사이버대<br>평생〮직업교육학과 재학생</div>
        <div class="text con">
            <ul class="desc">
                <li>20대 이하 : 9%</li>
                <li>30대 : 24%</li>
                <li>40대 이상 : 67%</li>
            </ul>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">고려사이버대 관련학과</div>
        <div class="text con">
            <div class="paragraph">평·생직업교육학과, 사회복지학과</div>
        </div>
    </div>
    <!-- //box -->
</div>
<!-- //box-wrapper -->
<div class="flex-box">
    <div class="addTxt mTop10 left-auto">
        (출처 : ‘커리어넷 직업정보 19.10 일부 발췌)
    </div>
</div>
<h4 class="stit mTop40">사회복지사의 직무</h4>
<div class="majorSystem mTop20">
    <p><img alt="★이미지alt★" src="http://stgimg.cuk.edu/practicum/ed/img_diagram.png"> </p>
    <p class="imageView">
        <a title="새창" class="btnType type0" href="http://stgimg.cuk.edu/practicum/ed/img_diagram.png" target="_blank">
            <span class="inner">
                <span class="bg type0">확대 보기</span>
            </span>
        </a>
    </p>
    <div class="blind">
        <dl>
            <dt>평생교육사</dt>
            <dd>행정 및 경영</dd>
            <dd>조사 및 분석</dd>
            <dd>기획 및 계획</dd>
            <dd>네트워킹</dd>
            <dd>평가 및 보고</dd>
            <dd>프로그램 개발</dd>
            <dd>운영 및 지원</dd>
            <dd>교수학습</dd>
            <dd>변화촉진</dd>
            <dd>상담 및 컨설팅</dd>
        </dl>
    </div>
</div>
<div class="listType type4 mTop30">
    <div class="row">
        <div class="tit"><strong>행정 및 경영</strong></div>
        <div class="txt">
            <p class="paragraph">평생학습사업의 효과적인 운영을 위한 행정사무 및 기관 경영업무 수행
            </p>
        </div>
    </div>
    <!-- //list -->
    <div class="row">
        <div class="tit"><strong>조사 및 분석</strong></div>
        <div class="txt">
            <p class="paragraph">평생학습사업 및 프로그램의 기획을 위해 객관적인 자료와 정보를 과학적으로 확보하고 분석
            </p>
        </div>
    </div>
    <!-- //list -->
    <div class="row">
        <div class="tit"><strong>기획 및 계획</strong></div>
        <div class="txt">
            <p class="paragraph">평생학습사업의 비전 및 추진전략을 수립하고, 기획서 및 실행게획안을 과학적으로 설계
            </p>
        </div>
    </div>
    <!-- //list -->
    <div class="row">
        <div class="tit"><strong>네트워킹</strong></div>
        <div class="txt">
            <p class="paragraph">평생학습사업의 통합적 추진과 유관기관의 참여를 촉진시키기위해 생산적으로 네트워크를 구축
            </p>
        </div>
    </div>
    <!-- //list -->
    <div class="row">
        <div class="tit"><strong>프로그램 개발</strong></div>
        <div class="txt">
            <p class="paragraph">학습고객의 특성과 요구를 고려하여 단위 프로그램의 내용을 선정·조직하고 매체로 개발
            </p>
        </div>
    </div>
    <!-- //list -->
    <div class="row">
        <div class="tit"><strong>운영 및 지원</strong></div>
        <div class="txt">
            <p class="paragraph">평생학습사업 및 프로그램의 전문적인 실행과 필요한 인적·물적 자원의 확보·지원·관리
            </p>
        </div>
    </div>
    <!-- //list -->
    <div class="row">
        <div class="tit"><strong>교수학습</strong></div>
        <div class="txt">
            <p class="paragraph">학습자의 특성과 능력에 맞는 교수법을 개발·적용하여 평생교육 프로그램 및 강좌를 전개
            </p>
        </div>
    </div>
    <!-- //list -->
    <div class="row">
        <div class="tit"><strong>변화촉진</strong></div>
        <div class="txt">
            <p class="paragraph">평생학습고객(개인, 지도자, 동아리, 단체)의 역량개발, 발굴·육성, 변화촉진을 수행
            </p>
        </div>
    </div>
    <!-- //list -->
    <div class="row">
        <div class="tit"><strong>상담 및 컨설팅</strong></div>
        <div class="txt">
            <p class="paragraph">학습자의 생애설계를 자문·상담하고, 기관 및 지역의 평생학습사업을 조직적으로 컨설팅
            </p>
        </div>
    </div>
    <!-- //list -->
    <div class="row">
        <div class="tit"><strong>평가 및 보고</strong></div>
        <div class="txt">
            <p class="paragraph">평생학습사업의 결과 및 성과를 과학적으로 진단·보고하고, 평생학습사업의 성과를 유지·확산
            </p>
        </div>
    </div>
    <!-- //list -->
</div>
<h4 class="stit mTop20">자격증 취득 후 진로</h4>
<p class="paragraph">평생교육사는 평생교육의 이념을 실현하는 주역으로서 광역 및 시〮군〮구 기초 자치단체의 평생학습관, 평생학습센터 등의 평생학습전담기구 및 평생교육시설 등에서 학교의 정규교육과정을 제외한 성인 문자해득교육, 직업능력 향상교육, 인문교양교육, 문화예술교육, 시민참여교육 등을 포함하는 광범위하고 조직적인 교육활동을 수행합니다.</p>
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="tableType type0 special-col-table-wrapper mTop10 table-overflow mTop10">
    <table>
        <caption>
            캡션캡션캡션
        </caption>
        <colgroup>
            <col style="width: 175px;">
            <col style="width: 175px;">
            <col style="width: 175px;">
            <col style="width: 175px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">평생학습 전담기구</th>
                <th scope="col">평생학습 행정기구
                    <br>
                    <span class="addTxt">(평생교육 담당부서)</span>
                </th>
                <th scope="col">평생교육시설</th>
                <th scope="col">기타
                    <br>
                    <span class="addTxt">(평생교육을 목적으로 하는 기관)</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="leftTxt firstCell">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>국가평생교육진흥원</li>
                                <li>시·도 평생교육진흥원</li>
                                <li>시·군·구 평생학습관</li>
                                <li>읍·면·동 평생학습센터</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>광역자치단체</li>
                                <li>시·도 교육청</li>
                                <li>기초자치단체</li>
                                <li>교육지원청</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>장애인평생교육시설</li>
                                <li>원격대학형태</li>
                                <li>시민사회단체부설</li>
                                <li>유·초중등·대학부설</li>
                                <li>사내대학형태</li>
                                <li>언론기관부설</li>
                                <li>학교형태</li>
                                <li>사업장 부설</li>
                                <li>지식·인력개발 관련</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>주민자치센터</li>
                                <li>도서관/박물관</li>
                                <li>직업훈련시설</li>
                                <li>연수원</li>
                                <li>청소년수련시설</li>
                                <li>미술관/과학과</li>
                                <li>사회복지시설</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h4 class="stit mTop40">문의처</h4>
<h5 class="sListTit type0 mTop0">국가평생교육진흥원 평생교육사 자격관리</h5>
<p class="paragraph">- 전화: 1577-3867 (평일 10:00~17:00)</p>
<div class="flex-box flex-center mTop20">
    <a title="새창 " class="btnType type5 " href="https://lledu.nile.or.kr/" target="_blank"><span class="inner ">바로가기</span></a>
</div>