<h4 class="stit">자격증 취득절차</h4>
<div class="boxType type1">
    <div class="flex-box">
        <div>
            <h5 class="sListTit">국가평생교육진흥원 평생교육사 자격관리</h5>
            <p class="paragraph">- 전화: 1577-3867 (평일 10:00~17:00)</p>
        </div>
        <div class="left-auto">
            <a title="새창" class="btnType type5" href="https://lledu.nile.or.kr/" target="_blank"><span class="inner">바로가기</span></a>
        </div>
    </div>
</div>
<!-- 절차 -->
<div class="list-box-wrapper type02 mTop10">
    <div class="step-box pattern type01">
        <span>1단계 : 과목이수 및 자격증 신청</span>
    </div>
    <div class="section">
        <!-- list-box -->
        <div class="list-box stage-3">
            <div class="title"><span>1</span>2급 과목이수</div>
            <div class="con">
                <div class="con-box normal">
                    [현행법] 필수 5과목+선택 5과목<br>
                    [종전법 ] 필수 7과목+선택 3과목<br>
                    <span class="point">(10과목 평균 80점 이상)</span>
                    +<br>
                    전문학사 이상 학위 취득
                </div>
                <!-- 1단 +  기본 -->
            </div>
        </div>
        <!-- //list-box -->
        <!-- list-box -->
        <div class="list-box stage-3">
            <div class="title">3급 과목이수
            </div>
            <div class="con">
                <div class="con-box normal">
                    필수 5과목+선택 2과목<br>
                    <span class="point">(7과목 평균 80점 이상)</span>
                    +<br>전문학사 이상 학위 취득
                </div>
                <!-- 1단 +  기본 -->
            </div>
        </div>
        <!-- list-box -->
        <!-- //list-box -->
        <div class="list-box stage-3">
            <div class="title"><span>2</span>자격증신청 (신청자<div class="arrow type02"></div>양성기관)</div>
            <div class="con">
                <div class="con-box">
                    <div class="listType type3">
                        <span><strong>신청서류 작성 및 제출</strong></span>
                        <div class="wrap close mTop10">
                            <ul class="desc align-left">
                                <li>양성기관의 접수일정에 따라 서류제출이 완료 되어야 함.</li>
                                <li>매년 4회 접수, 연초 1~4차 접수 일정 공지</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 1단 + 리스트 -->
            </div>
        </div>
        <!-- //list-box -->
    </div>
    <div class="step-box pattern type02">
        <span>2단계 : 양성과정</span>
    </div>
    <div class="section">
        <!-- list-box -->
        <div class="list-box stage-3">
            <div class="title"><span>3</span>양성과정</div>
            <div class="con">
                <div class="con-box normal">신청서류 및 신청자격 확인</div>
                <!-- 1단 +  기본 -->
            </div>
        </div>
        <!-- //list-box -->
        <!-- list-box -->
        <div class="list-box stage-3">
            <div class="title"><span>4</span>자격증 발급신청</div>
            <div class="con">
                <div class="con-box normal">
                    <span><strong>[1차]</strong> 온라인 신청</span>
                    <span><strong>[2차]</strong> 신청 서류 발송</div></span>
                <!-- 1단 +  기본 -->
            </div>
        </div>
        <!-- list-box -->
        <!-- //list-box -->
        <div class="list-box stage-3">
            <div class="title"><span>5</span>국가평생교육진흥원</div>
            <div class="con">
                <div class="con-box normal">신청 접수 및<br>자격증발급 사정</div>
                <!-- 1단 +  기본 -->
            </div>
        </div>
        <!-- //list-box -->
    </div>
    <div class="step-box pattern type03">
        <span>3단계 : 자격증 교부 및 발송</span>
    </div>
    <div class="section">
        <!-- list-box -->
        <div class="list-box  stage-2">
            <div class="title"><span>6</span>국가평생교육진흥원</div>
            <div class="con">
                <div class="con-box normal">자격증 제작 밀 교부<br>(양성기관으로 발송)</div>
                <!-- 1단 +  기본 -->
            </div>
        </div>
        <!-- list-box -->
        <!-- list-box -->
        <div class="list-box stage-2">
            <div class="title"><span>7</span>양성기관</div>
            <div class="con">
                <div class="con-box normal">신청자 자격증 발송</div>
                <!-- 1단 +  기본 -->
            </div>
        </div>
        <!-- list-box -->
    </div>
</div>
<!-- //절차 -->
<h4 class="stit mTop40">자격급수별 자격증 취득 조건
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
</h4>
<div class="tableType type0 special-col-table-wrapper mTop10 table-overflow mTop10">
    <table>
        <caption>
            자격증 취득 조건 표
        </caption>
        <colgroup>
            <col style="width: 140px;">
            <col style="width: 560px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">구분</th>
                <th scope="col">취득조건 </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">평생교육사 2급 </th>
                <td class="leftTxt">
                    <div class="listType type3 ">
                        <div class="wrap close ">
                            <ul class="desc ">
                                <li>평생교육사 양성과정 10과목 (필수5과목(실습포함)) + 선택 5과목) 이수</li>
                                <li>평생교육사 양성과정 10과목 평균 80점 이상</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">평생교육사 3급 </th>
                <td class="leftTxt">
                    <div class="listType type3 ">
                        <div class="wrap close ">
                            <ul class="desc ">
                                <li>평생교육사 양성과정 7과목 (필수5과목(실습포함)) + 선택 2과목) 이수</li>
                                <li>평생교육사 양성과정 7과목 평균 80점 이상</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h4 class="stit mTop40">등급별 자격요건
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
</h4>
<div class="tableType type0 special-col-table-wrapper mTop10 table-overflow mTop10">
    <table>
        <caption>
            등급별 자격요건 표
        </caption>
        <colgroup>
            <col style="width: 140px;">
            <col style="width: 560px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">구분</th>
                <th scope="col">자격요건 </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">1급 </th>
                <td class="leftTxt">
                    <div class="listType type3 ">
                        <div class="wrap close ">
                            <ul class="desc ">
                                <li>평생교육사 2급 자격증을 취득한 후, 평생교육 관렵업무에 5년 이상 종사한 경력이 있는 자</li>
                                <li>국가평생교육진흥원이 운영하는 1급 승급과정을 이수한 자(2급 자격취득 이후 경력만 인정)</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">2급</th>
                <td class="leftTxt">
                    <div class="listType type3 ">
                        <div class="wrap close ">
                            <ul class="desc ">
                                <li>대학원에서 필수과목 15학점 이상 이수하고 석사 또는 박사학위를 취득한 자
                                </li>
                                <li>대학 또는 학점은행기관에서 평생교육 관련과목을 30학점 이상 이수하고 학위를 취득한 자
                                </li>
                                <li>대학을 졸업한 자로서 대학 또는 학점은행기관에서 평생교육 관련과목을 30학점 이수한 자
                                </li>
                                <li>평생교육사 3급 자격증을 보유하고 평생교육 관련업무에 3년 이상 종사한 경력이 있는 자로서
                                    국가평생교육진흥원이 운영하는 2급 승급과정을 이수한 자(3급 자격취득 이전/이후 경력 모두 인정)</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">3급 </th>
                <td class="leftTxt">
                    <div class="listType type3 ">
                        <div class="wrap close ">
                            <ul class="desc ">
                                <li>대학 또는 학점은행기관에서 평생교육 관련과목을 21학점 이상 이수하고 학위를 취득한 자 </li>
                                <li>대학을 졸업한 자로서 대학 또는 학점은행기관에서 평생교육 관련과목을 21학점 이수한 자</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h4 class="stit mTop40">등급별 자격요건</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>이수한 과목이 가장 많은 기관</li>
            <li>이수한 과목 수가 동수일 경우, 우선순위
                <ul class="n-list-type ">
                    <li>- 실습과목을 이수한 기관</li>
                    <li>- 필수과목을 가장 많이 이수한 기관</li>
                    <li>- 필수과목명 순에서 앞선 과목을 이수한 기관
                        <br>① 평생교육론 ② 평생교육방법론 ③ 평생교육경영론 ④ 평생교육프로그램개발론</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">발급 문의처</h4>
<h5 class="sListTit type0 mTop0">국가평생교육진흥원 평생교육사 자격관리</h5>
<p class="paragraph">- 전화: 1577-3867 (평일 10:00~17:00)</p>
<div class="flex-box flex-center mTop20">
    <a title="새창 " class="btnType type5 " href="https://lledu.nile.or.kr/" target="_blank"><span class="inner ">바로가기</span></a>
</div>