<h4 class="stit">현장실습</h4>
<p class="paragraph ">평생교육사 과정을 이수하기 위해서는 여러 교과목을 이수해야 합니다. 이 과정을 통하여 배운 지식은 평생교육이라는 학문이 가지고 있는 특성과 이를 둘러싸고 있는 제반 현상에 대해 보다 체계적인 이해가 가능하도록 도움을 제공합니다. </p>
<p class="paragraph mTop10">또한 학교에서 공부한 평생 교육과 관련되 제반 이론들이 현장교육 속에서 어떻게 활용·적용 될지에 대한 끊임없는 성찰과 피드백 과정을 거쳐 생습생 여러분을 한단계 높은 차원의 평생교육전문가로 이끌어주게 될 것입니다. 하지만 교육이라는 것이 가르침의 대상이 되는 '학습자'와의 만남이 없이 이루어질 수 없다는 점을 전제할 때 이들 이론의 현실 적용을 직접 체험할 수 있는 평생교육실습은 대단히 중요한 의미를 지닙니다. 평생교육학이라는 학문의 실천적 성격을
    고려할 때, 현장실습은 평생교육사 양성과정의 꽃이라고 할 것입니다. </p>
<p class="paragraph mTop10">학업과 직장을 병행하는 우리 대학의 학생들이 학교에서 습득한 이론과 평생교육실습 활동을 통해 체득한 실제와의 융합·상승효과를 경험하는 소중한 기회를 삼기 바랍니다.</p>
<h4 class="stit mTop40">신청자격</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>신청 가능한 학년 : 3학년 (66학점 이수) 이상</li>
            <li>선수과목 : 총 7과목(필수 4과목+선택 3과목)을 이수한 자
                <ul class="n-list-type ">
                    <li>- 필수과목 : 평생교육개론, 평생교육방법론, 평생교육경영학, 평생교육프로그램개발 (실습 이후 재이수 불가)</li>
                    <li>- 그 외 평생교육사 양성과목 중 개인의 선택에 의한 3과목</li>
                </ul>
                <p class="paragraph oiint">※ 반드시 위 조건을 모두 충족해야 실습 사전 신청이 가능하며, 본교 재학생에 한 해 신청가능합니다.</p>
            </li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">실습 진행절차</h4>
<div class="list-box-wrapper type02 mTop10">
    <div class="step-box pattern type01">
        <span>1단계 : 현장실습 자격 충족 및 기관 탐색</span>
    </div>
    <div class="section">
        <div class="list-box grow">
            <div class="title"><span>1</span>학생</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">3학년(4학기), (66학점 이상) 이수자</div>
                    <div class="con-box border-top padding-0">
                        <div class="row special">
                            <div class="con-box title">2009년<br>이후</div>
                            <div class="con-box special-con">
                                <div class="listType type3 ">
                                    <div class="wrap close ">
                                        <ul class="desc ">
                                            <li>실습 선수과목(필수 4과목)</li>
                                            <li>반드시 이수완료 및 자유선택 전공과목(3과목) 이수</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-box">
                                    <a title="새창 " class="btnType type4 no-radius" href="http://stgpracticum.cuk.edu/142003.do" target="_self"><span class="inner ">바로가기</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row special border-top">
                            <div class="con-box title border-top border-fff">2008년<br>이전</div>
                            <div class="con-box special-con">
                                <div class="listType type3 ">
                                    <div class="wrap close ">
                                        <ul class="desc ">
                                            <li>실습 선수과목(필수 4과목)</li>
                                            <li>반드시 이수완료 및 자유선택 전공과목(3과목) 이수</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-box">
                                    <a title="새창 " class="btnType type4 no-radius" href="http://stgpracticum.cuk.edu/142003.do" target="_self"><span class="inner ">바로가기</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-4 fix margin-left-2">
            <div class="title"><span>2</span>학생<div class="arrow type02"></div>기관</div>
            <div class="con">
                <div class="con-box normal">실습 가능한<br>연계기관 알아보기</div>
                <!-- 1단 +  기본 -->
                <div class="btn-box">
                    <a title="새창 " class="btnType type4 no-radius" href="http://stgpracticum.cuk.edu/142004.do" target="_self"><span class="inner ">바로가기</span></a>
                </div>
            </div>
        </div>
        <div class="list-box stage-4 fix margin-left-2">
            <div class="title"><span>3</span>학생<div class="arrow type02"></div>기관</div>
            <div class="con">
                <div class="con-box normal">실습 동의 받기</div>
            </div>
        </div>
    </div>
    <!-- // section -->
    <div class="step-box pattern type02">
        <span>2단계 : 사전실습신청 및 '평생교육실습' 과목 수강신청</span>
    </div>
    <div class="section">
        <div class="list-box stage-4">
            <div class="title"><span>4</span>학생<div class="arrow type02"></div>학교</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">
                        수강신청시작일<br>약 한달 전 사전실습신청
                        <br> (사전실습신청서, <br> 개인정보 제3자 제공동의서)</div>
                    <div class="con-box border-top"><span class="addTxt">LIX.cuk.edu 진행</span></div>
                    <div class="btn-box">
                        <a title="새창 " class="btnType type4 no-radius" href="https://lix.cuk.edu" target="_blank"><span class="inner ">바로가기</span></a>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-4">
            <div class="title "><span>5</span>학생<div class="arrow type02"></div>학교</div>
            <div class="con">
                <div class="con-box normal">실습 승인<br>(SMS, E-mail 안내)</div>
                <!-- 1단 +  기본 -->
            </div>
        </div>
        <div class="list-box stage-4">
            <div class="title"><span>6</span>학교<div class="arrow type02"></div>기관</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">공문 발송</div>
                    <div class="con-box border-top"><span class="addTxt">실습의뢰 및<br> 회신서류 양식</span></div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-4">
            <div class="title"><span>7</span>학생</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">[평생교육실습] <br>과목 수강신청</div>
                    <div class="con-box border-top"><span class="addTxt">LIX.cuk.edu 진행</span></div>
                    <div class="btn-box">
                        <a title="새창 " class="btnType type4 no-radius" href="https://lix.cuk.edu" target="_blank"><span class="inner ">바로가기</span></a>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
    </div>
    <!-- // section -->
    <div class="step-box pattern type03">
        <span>3단계 : 실습참여 및 발급</span>
    </div>
    <div class="section">
        <div class="list-box stage-4">
            <div class="title"><span>8</span>학생</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">[평생교육실습]<br>과목 ‘실습 OT’<br>
                        <span class="point">(필수참석)</span>
                    </div>
                    <div class="con-box border-top">기관 OT 참석</div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-4">
            <div class="title"><span>9</span>학생</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">
                        <ul class="listType type11">
                            <li>[평생교육실습] 과목 온라인 수강</li>
                            <li>1~3주차 토론<br><span class="point">(필수 참여/세미나 대체)</span></li>
                            <li>현장실습 진행
                                <br><span class="point">- 최소 4주, 최소 20회 이상</span>
                                <br><span class="point">- 총160시간 (1일 최대 8시간)</span></li>
                        </ul>
                    </div>
                    <div class="con-box border-top">실습평가회<span class="point">(필수참석)</span></div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-4">
            <div class="title"><span>10</span>학생, 기관<div class="arrow type02"></div>학교</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">
                        [평생교육실습] 회신서류 제출<br>(실습종료 후 <span class="point">일주일이내</span>)
                    </div>
                    <div class="con-box border-top">
                        <ul class="listType type11">
                            <li class="addTxt">모든 양식은 각 실습기관으로 발송</li>
                            <li class="addTxt">[실습게시판] 및 [과목공지] 확인</li>
                        </ul>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-4">
            <div class="title"><span>11</span>학생</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">자격증 개별신청</div>
                    <div class="con-box border-top addTxt">매해 4회 본교 접수 신청<br> (연초 신청기간 학교공지)</div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
    </div>
</div>
						