<h4 class="stit">자격증 개설 교과목 </h4>
<div class="certificate spaces02 mTop20">
    <ul class="certificate-tab">
        <li class="tab-link active" data-tab="tab-1">현행법령<br>
            <span class="small">(2020년 1학기 신·편입생부터)</span></li>
        <li class="tab-link" data-tab="tab-2">종전법령<br>
            <span class="small">(2009년 2학기 신·편입생부터)</span> </li>
    </ul>
    <div id="tab-1" class="tab-content active">
        <h5 class="sListTit slash">평생교육사 자격증 개설과목</h5>
        <div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
        <div class="selectClass">
            <dl>
                <dt>
                    <img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif">
                </dt>
                <dd>전공필수</dd>
                <dt>
                    <img src="http://img.cuk.edu/university/ico/ico_no01.gif" alt="자격증 선택1과목">
                </dt>
                <dd>자격증 선택1과목</dd>
                <dt>
                    <img src="http://img.cuk.edu/university/ico/ico_no02.gif" alt="자격증 선택2과목">
                </dt>
                <dd>자격증 선택2과목</dd>
            </dl>
        </div>
        <!-- table -->
        <div class="tableType type0 mTop0 special-col-table-wrapper table-overflow">
            <table>
                <caption>자격증 개설과목 표</caption>
                <colgroup>
                    <col style="width: 100px;">
                    <col style="width: 150px;">
                    <col style="width: 150px;">
                    <col style="width: 150px;">
                    <col style="width: 150px;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" class="th-border-bottom">구분</th>
                        <th scope="col">1학년 </th>
                        <th scope="col">2학년 </th>
                        <th scope="col">3학년 </th>
                        <th scope="col">4학년 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row">1학기</th>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>평생교육개론<img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>원격교육활용론<img alt="자격증 선택2과목" src="http://img.cuk.edu/university/ico/ico_no02.gif" style="margin-left:4px;">
                                        </li>
                                        <li>여성교육개론<img alt="자격증 선택1과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>평생교육방법론<img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;">
                                        </li>
                                        <li>인적자원개발론<img alt="자격증 선택2과목" src="http://img.cuk.edu/university/ico/ico_no02.gif" style="margin-left:4px;"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>평생교육실습<img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;">
                                        </li>
                                        <li>문화예술교육론 (<img alt="자격증 선택2과목" src="http://img.cuk.edu/university/ico/ico_no02.gif" style="margin-left:4px;">/예술경영학과)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row">2학기</th>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>성인학습 및 상담<img alt="자격증 선택1과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;">
                                        </li>
                                        <li>교육사회학상담<img alt="자격증 선택2과목" src="http://img.cuk.edu/university/ico/ico_no02.gif" style="margin-left:4px;"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>노인교육개론<img alt="자격증 선택1과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"> </li>
                                        <li>교육공학<img alt="자격증 선택2과목" src="http://img.cuk.edu/university/ico/ico_no02.gif" style="margin-left:4px;"></li>
                                        <li>직업〮진로설계<img alt="자격증 선택2과목" src="http://img.cuk.edu/university/ico/ico_no02.gif" style="margin-left:4px;"></li>
                                        <li>상담심리학 (<img alt="자격증 선택2과목" src="http://img.cuk.edu/university/ico/ico_no02.gif">/상담심리학과)</li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>평생교육 프로그램 개발<img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;">
                                        </li>
                                        <li>평생교육경영학<img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;"></li>
                                        <li>교수설계<img alt="자격증 선택2과목" src="http://img.cuk.edu/university/ico/ico_no02.gif" style="margin-left:4px;"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>평생교육실습<img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;">
                                        </li>
                                        <li>지역사회교육론<img alt="자격증 선택2과목" src="http://img.cuk.edu/university/ico/ico_no02.gif" style="margin-left:4px;">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- // table -->
        <ul class="n-list-type mTop10">
            <li>
                2급 자격증은 필수 5과목과 선택 5과목 총 10과목을 이수해야 함.</li>
            <li>3급 자격증은 필수 5과목과 선택 2과목 총 7과목을 이수해야 함.</li>
            <li>단 2급, 3급 모두 두 개의 선택 영역 (위 표에서는 '<img alt="자격증 선택1과목" src="http://img.cuk.edu/university/ico/ico_no01.gif">', '<img alt="자격증 선택2과목" src="http://img.cuk.edu/university/ico/ico_no02.gif">'로 표기) 각각에서 최소 한 과목 이상을 포함해야 함.</li>
            <li>문화예술교육론<img alt="자격증 선택2과목" src="http://img.cuk.edu/university/ico/ico_no02.gif">은 2017-2학기부터 폐기됨.</li>
            <li>지역사회교육론<img alt="자격증 선택2과목" src="http://img.cuk.edu/university/ico/ico_no02.gif">은 2014-2학기부터 폐기됨.</li>
            <li>평생〮직업교육학과 전공필수, 전공선택 과목과는 상이합니다.</li>
        </ul>
        <div class="checkPointBox mTop20">
            <!-- boxType -->
            <h5 class="checkPoint qmark">체크포인트</h5>
            <div class="boxType type0">
                <!-- listType -->
                <div class="listType type3">
                    <div class="wrap close">
                        <ul class="desc">
                            <li>현장실습은 <span class="point">최소 4주간(최소 20일, 총 160시간)</span> 이상 실시 하여야 함.
                            </li>
                            <li>현장실습은 실습의 실효성을 고려하여 실습기관의 근로환경과 동일한 여건 하에서 실습하는 것을 전제로, <span class="point">1일 8시간(9:00~18:00), 주 5회(월~금)의 통상근로시간 내 진행</span> 함.
                                <br>- 점심 및 저녁 등의 식사시간은 총 160시간의 실습시간에서 제외.
                                <br>- 다만, 현장실습기관의 특성 및 실습생의 상황(직장인 등)을 고려하여 <span class="point">야간 및 주말시간을 이용한 현장실습도 가능</span>함.
                            </li>
                            <li>실습 면제 불가</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //tab-1 -->
    <div id="tab-2" class="tab-content">
        <h5 class="sListTit slash">평생교육사 자격증 개설과목</h5>
        <div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
        <!-- table -->
        <div class="selectClass">
            <dl>
                <dt>
                    <img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif">
                </dt>
                <dd>전공필수</dd>
                <dt>
                    <img src="http://img.cuk.edu/university/ico/ico_no01.gif" alt="">
                </dt>
                <dd>자격증 선택과목</dd>
            </dl>
        </div>
        <div class="tableType type0 mTop0 special-col-table-wrapper table-overflow">
            <table>
                <caption>자격증 개설과목 표</caption>
                <colgroup>
                    <col style="width: 100px;">
                    <col style="width: 150px;">
                    <col style="width: 150px;">
                    <col style="width: 150px;">
                    <col style="width: 150px;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">구분</th>
                        <th scope="col">1학년 </th>
                        <th scope="col">2학년 </th>
                        <th scope="col">3학년 </th>
                        <th scope="col">4학년 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row">1학기</th>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>평생교육개론 <img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>원격교육활용론<img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;">
                                        </li>
                                        <li>여성교육개론 <img alt="자격증 선택과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>평생교육방법론
                                        </li>
                                        <li>인적자원개발론 </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>평생교육실습<img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row">2학기</th>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>성인학습 및 상담 <img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>노인교육개론 <img alt="자격증 선택과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>평생교육프로그램개발<img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;">
                                        </li>
                                        <li>평생교육경영학<img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;"> </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td class="leftTxt">
                            <div class="listType type3 ">
                                <div class="wrap close ">
                                    <ul class="desc ">
                                        <li>평생교육실습<img alt="전공필수" src="http://img.cuk.edu/university/ico/ico_must_study.gif" style="margin-left:4px;">
                                        </li>
                                        <li>지역사회교육론<img alt="자격증 선택과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- //선택 -->
                </tbody>
            </table>
        </div>
        <!-- // table -->
        <ul class="n-list-type mTop10">
            <li>필수 7과목과 선택 3과목 등 10과목과 실습을 이수해야 함.</li>
            <li>지역사회교육론 <img src="http://stgimg.cuk.edu/university/ico/ico_no01.gif" alt="">은 2014-2학기부터 폐기됨.</li>
            <li>평·생직업교육학과 전공필수, 전공선택 과목과는 상이합니다.</li>
        </ul>
        <div class="checkPointBox mTop20">
            <!-- boxType -->
            <h5 class="checkPoint qmark">체크포인트</h5>
            <div class="boxType type0">
                <!-- listType -->
                <div class="listType type3">
                    <div class="wrap close">
                        <ul class="desc">
                            <li>현장실습은 <span class="point">최소 3주간(최소 15일, 총 120시간)</span> 이상 실시 하여야 함.
                            </li>
                            <li>현장실습은 실습의 실효성을 고려하여 실습기관의 근로환경과 동일한 여건 하에서 실습하는 것을 전제로, <span class="point">1일 8시간(9:00~18:00), 주 5회(월~금)의 통상근로시간 내 진행</span> 함.
                                <br>- 점심 및 저녁 등의 식사시간은 총 160시간의 실습시간에서 제외.
                                <br>- 다만, 현장실습기관의 특성 및 실습생의 상황(직장인 등)을 고려하여 <span class="point">야간 및 주말시간을 이용한 현장실습도 가능</span>함.
                            </li>
                            <li>실습 면제 가능
                                <br>- 평생교육기관에서 3개원 이상 평생교육사 관련 업무를 진행하였을 경우 (Lix.cuk.edu &gt; 실습&gt; 평생교육실습&gt; 자료실&gt; 평생교육 경력산정표 확인)
                                <br>- 제출서류 : 경력증명서</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="stit mTop40">유의사항</h4>
        <div class="listType type3 ">
            <div class="wrap close ">
                <ul class="desc ">
                    <li>개인적으로 실습기관을 접촉하여 실습가능여부 및 기간에 대한 동의를 얻어야 합니다.</li>
                    <li>실습은 해당 학기 실습오리엔테이션과 실습평가회 사이에 이루어져야 합니다.
                    </li>
                    <li>학교에서 소정의 구비서류를 검토, 승인 경우에만 실습과목 수강신청이 가능 합니다. <br> (개인 휴대전화 문자로 승인여부를 안내할 예정이오니 개인정보의 휴대전화 번호를 확인하시기 바랍니다.)
                    </li>
                    <li>해당 학기 수강신청자가 15일 미만인 경우 사전실습신청을 하였다 하더라고 실습과목이 폐강될 수 있습니다.
                    </li>
                    <li>반드시 실습 선수과목 이수여부를 확인 바랍니다. (Lix.cuk.edu &gt; 학습통계 &gt; 학습설계 : 본인이 이수한 과목)
                    </li>
                    <li>자격증 자격요건과 평생교육실습 자격요건은 상이하므로, 자격증 자격요건 충족여부를 두 가지를 비교하여 개별적으로 확인 바랍니다.
                    </li>
                    <li>실습 오리엔테이션 및 평가회 일정을 꼭 확인하고 <strong class="point">반드시 참석</strong>하시기 바랍니다.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //tab-2 -->
</div>
<h4 class="stit mTop40">자격증 로드맵 </h4>
<div class="tab-wrapper spaces02 mTop20">
    <ul class="tab-box">
        <li class="tab-link on" data-tab="tabbox-1">현행법령<br>
            <span class="small">(2020년 1학기 신·편입생부터)</span></li>
        <li class="tab-link" data-tab="tabbox-2">종전법령<br>
            <span class="small">(2009년 2학기 신·편입생부터)</span> </li>
    </ul>
    <div id="tabbox-1" class="tab-content on">
        <h5 class="sListTit slash">현행법령</h5>
        <div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
        <!-- table -->
        <div class="tableType type0 mTop0 special-col-table-wrapper table-overflow training-loadmap">
            <table>
                <caption>자격증 현행법령</caption>
                <colgroup>
                    <col style="width: 67px;">
                    <col style="width: 77px;">
                    <col style="width: 71px;">
                    <col style="width: 71px;">
                    <col style="width: 71px;">
                    <col style="width: 71px;">
                    <col style="width: 71px;">
                    <col style="width: 71px;">
                    <col style="width: 65px;">
                    <col style="width: 64px;">
                </colgroup>
                <thead>
                    <tr class="gray">
                        <th scope="col" colspan="2">구분</th>
                        <th scope="col">1-1</th>
                        <th scope="col">1-2</th>
                        <th scope="col">2-1</th>
                        <th scope="col">2-2</th>
                        <th scope="col">3-1</th>
                        <th scope="col">3-2</th>
                        <th scope="col">4-1</th>
                        <th scope="col">4-2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gray">
                        <th class="firstCell pattern type02 line" scope="row" rowspan="2" colspan="2">자격증 필수과목<br><small> (5과목)</small>
                        </th>
                        <td>
                            <div>평생교육개론</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div>평생교육방법론</div>
                        </td>
                        <td>
                            <div>평생교육프로그램개발</div>
                        </td>
                        <td colspan="2">
                            <div>평생교육실습
                            </div>
                        </td>
                    </tr>
                    <tr class="gray line">
                        <td>
                            <div>인간행동과 사회환경</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div>평생교육경영학</div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- // 01 -->
                    <tr class="gray">
                        <th class="firstCell pattern type05 line" scope="row" rowspan="4">자격증<br> 선택과목
                            <br><small> (5과목)</small>
                        </th>
                        <th scope="row" class="pattern type05">선택과목<br><small> (택 1이상)</small></th>
                        <td></td>
                        <td>
                            <div>성인학습 및 상담</div>
                        </td>
                        <td>
                            <div>여성교육개론 </div>
                        </td>
                        <td>
                            <div>노인교육개론</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="gray">
                        <th scope="row" rowspan="3" class="pattern type05">선택과목<br> <small>(택 1이상)</small></th>
                        <td></td>
                        <td>
                            <div>교육사회학</div>
                        </td>
                        <td>
                            <div>원격교육활용론
                            </div>
                        </td>
                        <td>
                            <div>직업·진로설계 </div>
                        </td>
                        <td>
                            <div>인적자원교수설계</div>
                        </td>
                        <td>
                            <div>
                                개발론 </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="gray">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div>교육공학</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="gray">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div>상담심리학 (상담심리학과)</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- // 02 -->
                </tbody>
            </table>
        </div>
        <!-- // table -->
        <div class="listType type3 mTop10">
            <div class="wrap close ">
                <ul class="desc ">
                    <li class="point">평생교육사 2급 : 평생교육 관련 10과목 (필수 5과목(실습포함)+선택 5과목, 평균 80점 이상)</li>
                    <li><span class="point">평생교육사 3급 : 평생교육 관련 7과목 (필수 5과목(실습포함) + 선택 2과목, 평균 80점 이상)</span>
                        <br>(단. 2급, 3급 모두 두 개의 선택 영역 각각에서 최소 한 과목 이상을 포함해야 함.)</li>
                    <li>평·생직업교육학과 전공필수, 전공선택 과목과는 상이합니다.</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //tab -->
    <div id="tabbox-2" class="tab-content">
        <h5 class="sListTit slash">종전법령</h5>
        <div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
        <!-- table -->
        <div class="tableType type0 top0 special-col-table-wrapper table-overflow training-loadmap">
            <table>
                <caption>종전법령</caption>
                <colgroup>
                    <col style="width: 67px;">
                    <col style="width: 77px;">
                    <col style="width: 71px;">
                    <col style="width: 71px;">
                    <col style="width: 71px;">
                    <col style="width: 71px;">
                    <col style="width: 71px;">
                    <col style="width: 71px;">
                    <col style="width: 65px;">
                    <col style="width: 64px;">
                </colgroup>
                <thead>
                    <tr class="gray">
                        <th scope="col" colspan="2">전공 영역</th>
                        <th scope="col">1-1</th>
                        <th scope="col">1-2</th>
                        <th scope="col">2-1</th>
                        <th scope="col">2-2</th>
                        <th scope="col">3-1</th>
                        <th scope="col">3-2</th>
                        <th scope="col">4-1</th>
                        <th scope="col">4-2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gray">
                        <th class="firstCell pattern type02 line" scope="row" rowspan="2" colspan="2">필수</th>
                        <td>
                            <div>평생교육개론 </div>
                        </td>
                        <td>
                            <div>성인학습 및 상담 </div>
                        </td>
                        <td>
                            <div>원격교육 활용론 </div>
                        </td>
                        <td></td>
                        <td>
                            <div>평생교육 방법론 </div>
                        </td>
                        <td>
                            <div>평생교육 프로그램개발 </div>
                        </td>
                        <td colspan="2">
                            <div>평생교육실습
                            </div>
                        </td>
                    </tr>
                    <tr class="gray line">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div>인적자원 개발론 </div>
                        </td>
                        <td>
                            <div>평생교육 경영학</div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- // 01 -->
                    <tr class="gray">
                        <th class="firstCell pattern type05 line" scope="row" rowspan="2">선택<br><small>(최소<br>7과목<br>이상)</small></th>
                        <th class="pattern type05" scope="row">선택과목<br> <small>(택 1이상)</small></th>
                        <td></td>
                        <td></td>
                        <td>
                            <div>여성교육개론 </div>
                        </td>
                        <td>
                            <div>노인교육개론
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="gray">
                        <th class="pattern type05" scope="row">선택과목<br> <small>(택 2 이상)</small></th>
                        <td></td>
                        <td></td>
                        <td>
                            <div>경영학원론 (경영학과)</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- // 02 -->
                </tbody>
            </table>
        </div>
        <!-- // table -->
        <div class="listType type3 mTop10">
            <div class="wrap close ">
                <ul class="desc ">
                    <li class="point">평생교육사 2급 : 평생교육 관련 10과목 (필수 7과목+선택 3과목, 평균 80점 이상, +실습 진행)</li>
                    <li>지역사회교육론(선)은 2014-2학기부터 폐기됨.</li>
                    <li>평·생직업교육학과 전공필수, 전공선택 과목과는 상이합니다. </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--  -->
<script>
$(document).ready(function() {

    $('ul.certificate-tab li').click(function() {
        var tab_id = $(this).attr('data-tab');

        $('ul.certificate-tab li').removeClass('active');
        $('.tab-content').removeClass('active');

        $(this).addClass('active');
        $("#" + tab_id).addClass('active');
    });

})

$(document).ready(function() {
    $('ul.tab-box li').click(function() {
        var tab_id = $(this).attr('data-tab');

        $('ul.tab-box li').removeClass('on');
        $('.tab-content').removeClass('on');

        $(this).addClass('on');
        $("#" + tab_id).addClass('on');
    });
})
</script>
<!-- // -->