<h4 class="stit">실습지도사 자격요건 </h4>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li>평생교육사 1급 자격증 소지자</li>
            <li>평생교육사 2급 자격증을 보유하고 관련업무 2년 이상 종사한 자</li>
            <li>평생교육사 3급 자격증을 보유하고 관련업무 3년 이상 종사한 자</li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">실습기관</h4>
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="tableType type0 top0 special-col-table-wrapper mTop10 table-overflow">
    <table>
        <caption>
            신청자격 표
        </caption>
        <colgroup>
            <col style="width: 400px;">
            <col style="width: 300px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">구분</th>
                <th scope="col">보기</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="firstCell centerTxt" scope="row">국가평생교육진흥원 평생교육사 자격관리 등록기관</td>
                <td class="centerTxt">
                    <a title="새창" class="btnType type5" href="https://lledu.nile.or.kr/practice/recruit" target="_blank "><span class="inner">바로가기</span></a>
                </td>
            </tr>
            <tr>
                <td class="firstCell centerTxt" scope="row">고려사이버대학교 평생교육실습기관
                    <p class="addTxt">(Lix &gt; 실습 &gt; 평생교육실습 &gt; 실습기관)</p>
                </td>
                <td class="centerTxt">
                    <a title="새창" class="btnType type5" href="http:lix.cuk.edu" target="_blank "><span class="inner">바로가기</span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li class="point"><strong>실습기관은 해당학기에 실습이 불가할 수 있으니 확인 후 개별연락을 통해 가능여부 확인 바랍니다.</strong></li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">관련법령 </h4>
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="tableType type0 top0 special-col-table-wrapper mTop10 table-overflow">
    <table>
        <caption>
            신청자격 표
        </caption>
        <colgroup>
            <col style="width: 400px;">
            <col style="width: 300px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">구분</th>
                <th scope="col">보기</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="firstCell centerTxt" scope="row">국가평생교육진흥원 평생교육사 자격관리
                </td>
                <td class="centerTxt">
                    <a title="새창" class="btnType type5" href="http:lix.cuk.edu" target="_blank "><span class="inner">바로가기</span></a>
                </td>
            </tr>
            <tr>
                <td class="firstCell centerTxt" scope="row">평생교육진흥원 평생교육실습 교과목 운영 지침(pdf)
                </td>
                <td class="centerTxt">
                    <a title="새창" class="btnType type4" href="http://img.cuk.edu/practice/edu/pds/" target="_blank "><span class="inner">다운로드</span></a>
                </td>
            </tr>
            <tr>
                <td class="firstCell centerTxt" scope="row">평생교육진흥원 평생교육실습 기능기관 유형별 분류표(pdf)
                </td>
                <td class="centerTxt">
                    <a title="새창" class="btnType type4" href="http://img.cuk.edu/practice/edu/pds/" target="_blank "><span class="inner">다운로드</span></a>
                </td>
            </tr>
            <tr>
                <td class="firstCell centerTxt" scope="row">평생교육진흥원 평생교육실습 프로그램 내용(pdf)
                </td>
                <td class="centerTxt">
                    <a title="새창" class="btnType type4" href="http://img.cuk.edu/practice/edu/pds/" target="_blank "><span class="inner">다운로드</span></a>
                </td>
            </tr>
            <tr>
                <td class="firstCell centerTxt" scope="row">평생교육진흥원 평생교육사 자격취득 안내자료(pdf)
                </td>
                <td class="centerTxt">
                    <a title="새창" class="btnType type4" href="http://img.cuk.edu/practice/edu/pds/" target="_blank "><span class="inner">다운로드</span></a>
                </td>
            </tr>
            <tr>
                <td class="firstCell centerTxt" scope="row">평생교육진흥원 평생교육실습 영역 지침 관련 서식
                    <p class="addTxt">(lix &gt; 실습 &gt; 평생교육실습 &gt; 실습자료실)</p>
                </td>
                <td class="centerTxt">
                    <a title="새창" class="btnType type5" href="http:lix.cuk.edu" target="_blank "><span class="inner">바로가기</span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>