<h4 class="stit">질문답변</h4>
<div class="boardListTopVisual type1">
    <div class="left">
        <p class="text0 mTop0">질문답변는</p>
        <p class="text1">본교 재학생에 한 해 질문 답변이 가능합니다. 로그인 후 아래 경로에 따라 이용하시기 바랍니다.</p>
    </div>
</div>
<!-- 절차 -->
<div class="box-type-list section-4 mTop20">
    <div class="list-box">
        <span class="num">1</span> LIX 로그인 </div>
    <div class="list-box">
        <span class="num">2</span> [실습] &gt; 각 실습의 [사전실습신청] </div>
    <div class="list-box">
        <span class="num">3</span>[질문답변] 메뉴 </div>
    <div class="list-box">
        <span class="num">4</span> 등록 후 답변 </div>
</div>
<div class="flex-box flex-center mTop20">
    <a title="새창 " class="btnType type4 " href="http://lix.cuk.edu" target="_blank "><span class="inner ">바로가기</span></a>
</div>