<h4 class="stit">실습교육센터란?</h4>
<div class="majorSystem">
    <p>
        <img alt="CUK 실습교육센터 : 하단 설명 참고" src="http://stgimg.cuk.edu/practicum/center/img_center_01.png">
    </p>
    <p class="imageView">
        <a title="새창" class="btnType type0" href="http://stgimg.cuk.edu/practicum/center/img_center_01.png" target="_blank">
            <span class="inner">
                    <span class="bg type0">확대 보기</span>
            </span>
        </a>
    </p>
    <div class="blind">
        <ul>
            <li>CUK 실습교육센터(CUK Practice Center)
                <ul>
                    <li>실습역량강화</li>
                    <li>실습인프라 구축</li>
                    <li>진로역량개발</li>
                </ul>
            </li>
            <li>처계적인 실습교육지원 프로그램 구축을 통해, 역량을 단계적·처계적으로 개발할 수 있도록 노력</li>
        </ul>
    </div>
</div>
<div class="mTop20">
    <p class="paragraph">
        체계적인 실습교육지원 프로그램 구축을 통해, 고려사이버대학교 학생들이 현장에서 요구하는 역랑을 단계적 · 체계적으로 개발할 수 있도록 노력하고 있습니다.
    </p>
    <p class="paragraph mTop30">
        이를 통해 무한한 잠재 역량을 발현하여, 사회진출을 위한 경쟁력을 확보할 수 있도록 지원해 드립니다.
    </p>
    <p class="paragraph mTop30">
        ‘현장실습과정’을 쉽고 빠르게 지원<br> 온라인으로 ‘현장실습기관’을 쉽고 빠르게 섭외
    </p>
    <p class="paragraph mTop30">
        첫째, 학생들에게 양질의 학습경험을 제공할 수 있는 우수한 실습기관을 발굴
        <br> 둘째, 학생들에게 현장실습에 필요한 기본소양을 쌓기 위한 사전 학습 제공<br> 셋째, 실습평가서를 검토하여 지소적인 우수 실습기관 확보 및 관리
    </p>
    <p class="paragraph mTop30">
        <strong>뜨거운 열정으로 더 나은 미래를 향해 준비하는 실습생 여러분을 응원합니다.</strong>
    </p>
</div>
<div class="center-info-wraper mTop40">
    <ul>
        <li>
            <div class="center-icon">
                <img src="http://stgimg.cuk.edu/practicum/center/icon_center_sw.png" alt="">
            </div>
            <a title="새창 " class="btnType type4 arrow" href="http://stgpracticum.cuk.edu/141972.do " target="_blank "><span class="inner ">사회복지사</span></a>
        </li>
        <li>
            <div class="center-icon">
                <img src="http://stgimg.cuk.edu/practicum/center/icon_center_kl.png" alt="">
            </div>
            <a title="새창 " class="btnType type4 arrow" href="http://stgpracticum.cuk.edu/141986.do " target="_blank "><span class="inner ">한국어교원 </span></a>
        </li>
        <li>
            <div class="center-icon">
                <img src="http://stgimg.cuk.edu/practicum/center/icon_center_ed.png" alt="">
            </div>
            <a title="새창 " class="btnType type4 arrow" href="http://stgpracticum.cuk.edu/142000.do " target="_blank "><span class="inner ">평생교육사 </span></a>
        </li>
        <li>
            <div class="center-icon">
                <img src="http://stgimg.cuk.edu/practicum/center/icon_center_cc.png" alt="">
            </div>
            <a title="새창 " class="btnType type4 arrow" href="http://stgpracticum.cuk.edu/142012.do " target="_blank "><span class="inner ">보육교사 </span></a>
        </li>
        <li>
            <div class="center-icon">
                <img src="http://stgimg.cuk.edu/practicum/center/icon_center_mi.png" alt="">
            </div>
            <a title="새창 " class="btnType type4 arrow" href="http://stgpracticum.cuk.edu/142024.do " target="_blank "><span class="inner ">다문화전문가 </span></a>
        </li>

    </ul>
</div>
<h4 class="stit mTop40">이용대상</h4>
<p class="paragraph ">
    고려사이버대학교 재학생</p>