<h4 class="stit mTop40">센터 위치</h4>
<!--  trafficFacilities -->
<div class="trafficFacilities">
    <div class="case type0">
        <h4 class="sListTit slash">계동 캠퍼스 주소</h4>
        <p>(03051) 서울시 종로구 북촌로 106 </p>
        <br><br>
        <h4 class="sListTit slash">지하철 이용시</h4>
        <p class="desc train">3호선 안국역 하차&nbsp;2번 출구 앞에서&nbsp;2번 마을버스 이용 감사원, 고려사이버대학교에 하차하시면 됩니다. 마을버스 5분, 도보 15분 정도 소요</p>
    </div>
    <div class="case type1">
        <h4 class="sListTit slash">도시형버스 이용시</h4>
        <ul class="desc">
            <li><strong>지선버스 :</strong> 7025번</li>
            <li><strong>간선버스 :</strong> 109번, 151번, 162번, 171번, 272번, 601번</li>
            <li><strong>공항버스 :</strong> 6011번<br>종로경찰서 또는 창덕궁 정류장에 하차하여 안국역 2번 출구에서 2번 마을버스를 이용하여 감사원, 고려사이버대학교에 하차하시면 됩니다.</li>
        </ul>
    </div>
    <div class="case type2">
        <h4 class="sListTit slash">자가용 이용시</h4>
        <ul class="desc">
            <li><strong>신촌 방면에서 오실 경우 :</strong>&nbsp;광화문을 지나 경복궁교차로에서 좌회전하여 삼청터널방면으로 오신 후, 금융연수원을 지나 중앙중학교 후문쪽으로 우회전 하시면 됩니다.</li>
            <li><strong>혜화동 방면에서 오실 경우 :</strong>&nbsp;현대본사를 지나 안국역을 끼고 우회전하여 직진하시면 됩니다.</li>
            <li><strong>종로 방면에서 오실 경우 :</strong> 종로2가 사거리에서 낙원상가 방면으로 직진하여 안국역을 지나 직진하시면 됩니다.</li>
        </ul>
    </div>
</div>
<!-- //trafficFacilities -->
<h4 class="stit mTop40">문의처
    <div class="tableMGuide mTop0 "> 좌ㆍ우 스크롤 이용 </div>
</h4>
<div class="tableType type0 top0 special-col-table-wrapper table-overflow">
    <table>
        <caption>
            실습교육지원 문의처
        </caption>
        <colgroup>
            <col style="width: 200px; ">
            <col style="width: 300px; ">
            <col style="width: 200px; ">
        </colgroup>
        <thead>
            <tr>
                <th scope="col ">자격증 종류</th>
                <th scope="col ">관련학과 및 실습전화번호</th>
                <th scope="col ">이메일</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row " class="firstCell ">사회복지사</td>
                <td>02-6361-1858 (실습 02-6361-1829)</td>
                <td>sw_tutor@cuk.edu</td>
            </tr>
            <tr>
                <td scope="row " class="firstCell ">한국어교원</td>
                <td>02-6361-1801 (실습 02-6361-1826)</td>
                <td>kl_tutor@cuk.edu</td>
            </tr>
            <tr>
                <td scope="row " class="firstCell "> 평생교육사</td>
                <td>02-6361-1889 (실습 02-6361-1826)
                    </td><td>ed_tutor@cuk.edu </td>
            </tr>
            <tr>
                <td scope="row " class="firstCell "> 보육교사</td>
                <td>02-6361-1833 (실습 02-6361-1829)</td>
                <td>cc_tutor@cuk.edu </td>
            </tr>
            <tr>
                <td scope="row " class="firstCell "> 다문화사회 전문가</td>
                <td>02-6361-1801 (실습 02-6361-1801)</td>
                <td>mi_tutor@cuk.edu </td>
            </tr>
        </tbody>
    </table>
</div>