<div class="sitemapWrap">
    <!-- sitemap -->
    <div class="sitemap top0">
        <div class="sitemap-box">
            <h4>센터소개 </h4>
            <div class="sitemapDetail">
                <div class="sitemapLeft">
                    <h5>센터 소개</h5>
                    <ul>
                        <li><a href="/★★★★★.do">실습교육센터란?</a></li>
                        <li><a href="/★★★★★.do">센터 위치 및 문의처</a></li>
                    </ul>
                    <h5><a href="/★★★★★.do">통합 공지사항</a></h5>
                    <h5><a href="/★★★★★.do">사이트맵</a></h5>
                    <h5><a href="/★★★★★.do">통합검색</a></h5>
                </div>
            </div>
        </div>
        <div class="sitemap-box">
            <h4>사회복지사 </h4>
            <div class="sitemapDetail">
                <div class="sitemapCenter">
                    <h5><a href="/★★★★★.do">사회복지사 개요</a></h5>
                    <h5><a href="/★★★★★.do">자격증 취득절차</a></h5>
                    <h5><a href="/★★★★★.do">실습안내</a></h5>
                    <h5><a href="/★★★★★.do">자격증로드맵</a></h5>
                    <h5><a href="/★★★★★.do">실습연계기관</a></h5>
                    <h5><a href="/★★★★★.do">사전실습신청</a></h5>
                    <h5><a href="/★★★★★.do">실습후기</a></h5>
                    <h5><a href="/★★★★★.do">공지사항</a></h5>
                    <h5>실습상담</h5>
                    <ul>
                        <li><a href="/★★★★★.do">자주하는 질문</a></li>
                        <li><a href="/★★★★★.do">질문답변</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sitemap-box">
            <h4>한국어교원 </h4>
            <div class="sitemapDetail">
                <div class="sitemapRight">
                    <h5><a href="/★★★★★.do">한국어교원 개요</a></h5>
                    <h5><a href="/★★★★★.do">자격증 취득절차</a></h5>
                    <h5><a href="/★★★★★.do">실습안내</a></h5>
                    <h5><a href="/★★★★★.do">자격증로드맵</a></h5>
                    <h5><a href="/★★★★★.do">실습연계기관</a></h5>
                    <h5><a href="/★★★★★.do">사전실습신청</a></h5>
                    <h5><a href="/★★★★★.do">실습후기</a></h5>
                    <h5><a href="/★★★★★.do">공지사항</a></h5>
                    <h5>실습상담</h5>
                    <ul>
                        <li><a href="/★★★★★.do">자주하는 질문</a></li>
                        <li><a href="/★★★★★.do">질문답변</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sitemap-box">
            <h4>평생교육사</h4>
            <div class="sitemapDetail">
                <div class="sitemapLeft">
                    <h5><a href="/★★★★★.do">평생교육사 개요</a></h5>
                    <h5><a href="/★★★★★.do">자격증 취득절차</a></h5>
                    <h5><a href="/★★★★★.do">실습안내</a></h5>
                    <h5><a href="/★★★★★.do">자격증로드맵</a></h5>
                    <h5><a href="/★★★★★.do">실습연계기관</a></h5>
                    <h5><a href="/★★★★★.do">사전실습신청</a></h5>
                    <h5><a href="/★★★★★.do">실습후기</a></h5>
                    <h5><a href="/★★★★★.do">공지사항</a></h5>
                    <h5>실습상담</h5>
                    <ul>
                        <li><a href="/★★★★★.do">자주하는 질문</a></li>
                        <li><a href="/★★★★★.do">질문답변</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sitemap-box">
            <h4>보육교사</h4>
            <div class="sitemapDetail">
                <div class="sitemapCenter">
                    <h5><a href="/★★★★★.do">보육교사 개요</a></h5>
                    <h5><a href="/★★★★★.do">자격증 취득절차</a></h5>
                    <h5><a href="/★★★★★.do">실습안내</a></h5>
                    <h5><a href="/★★★★★.do">자격증로드맵</a></h5>
                    <h5><a href="/★★★★★.do">실습연계기관</a></h5>
                    <h5><a href="/★★★★★.do">사전실습신청</a></h5>
                    <h5><a href="/★★★★★.do">실습후기</a></h5>
                    <h5><a href="/★★★★★.do">공지사항</a></h5>
                    <h5>실습상담</h5>
                    <ul>
                        <li><a href="/★★★★★.do">자주하는 질문</a></li>
                        <li><a href="/★★★★★.do">질문답변</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sitemap-box">
            <h4>다문화사회<br />전문가 </h4>
            <div class="sitemapDetail">
                <div class="sitemapRight">
                    <h5><a href="/★★★★★.do">다문화사회전문가<br />개요</a></h5>
                    <h5><a href="/★★★★★.do">수료증 취득절차</a></h5>
                    <h5><a href="/★★★★★.do">실습안내</a></h5>
                    <h5><a href="/★★★★★.do">수료증로드맵</a></h5>
                    <h5><a href="/★★★★★.do">실습연계기관</a></h5>
                    <h5><a href="/★★★★★.do">사전실습신청</a></h5>
                    <h5><a href="/★★★★★.do">실습후기</a></h5>
                    <h5><a href="/★★★★★.do">공지사항</a></h5>
                    <h5>실습상담</h5>
                    <ul>
                        <li><a href="/★★★★★.do">자주하는 질문</a></li>
                        <li><a href="/★★★★★.do">질문답변</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //sitemap -->

</div>
<!-- //sitemapWrap -->