<h4 class="stit">보육교사(교직원)란?</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>'보육교사(교직원)'이란 어린이집 영유아의 보육, 건강관리 및 보호자와의 상담, 그 밖에 어린이집의 관리ㆍ운영 등의 업무를 담당하는 자로서 어린이집의 원장 및 보육교사와 그 밖의 직원을 말합니다. (법적근거 : 영유아보육법 제2조)</li>
            <li>'보육교사'는 전문적 지식, 기술, 개인적 자질을 갖추고 6세 미만의 영유아를 대상으로 건강하고 안전하게 보호, 양육하며 영유아의 발달이 최적화될 수 있도록 발달특성에 맞는 교육을 제공하는 어린이집 및 가정양육시설에 종사하는 교사를 의미합니다.</li>
            <li>자격 : 보육교사자격기준(영유아보육법 시행령21조)에 해당하는 자로서 보건복지부장관이 검정, 수여하는 국가자격증을 발급받은 자는 어린이집에서 보육교사로 근무할 수 있습니다. </li>
        </ul>
    </div>
</div>
<div class="flex-box">
    <div class="addTxt mTop10 left-auto addTxt">(출처: 보육진흥원 홈페이지)</div>
</div>
<div class="majorSystem mTop20">
    <p><img alt="" src="http://stgimg.cuk.edu/practicum/cc/img_sw_main.png"> </p>
</div>
<div class="summary-wrapper top blue stage3 mTop20">
    <!-- box -->
    <div class="box">
        <div class="text title">직업분야</div>
        <div class="text con">
            <div class="paragraph">사회복지전문직, 사회서비스(전문직)</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">핵심능력</div>
        <div class="text con">
            <div class="paragraph">역량강화능력, 자기성찰능력, 대인관계능력</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">사회이슈</div>
        <div class="text con">
            <div class="paragraph">없음</div>
        </div>
    </div>
    <!-- //box -->
</div>
<!-- //box-wrapper -->
<div class="summary-wrapper bottom blue stage3">
    <!-- box -->
    <div class="box">
        <div class="text title">관련 자격증</div>
        <div class="text con">
            <div class="paragraph">보육교사 2급</div>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">고려사이버대<br>아동학과 재학생</div>
        <div class="text con">
            <ul class="desc">
                <li>20대 이하 : 25.9%</li>
                <li>30대 : 39.4%</li>
                <li>40대 이상 : 34.7%
                </li>
            </ul>
        </div>
    </div>
    <!-- //box -->
    <!-- box -->
    <div class="box">
        <div class="text title">고려사이버대 관련학과</div>
        <div class="text con">
            <div class="paragraph"><strong class="underline">아동학과</strong>, 아동영어학과 상담심리학과, 사회복지학과, 평생·직업교육학과</div>
        </div>
    </div>
    <!-- //box -->
</div>
<!-- //box-wrapper -->
<div class="flex-box">
    <div class="addTxt mTop10 left-auto">
        (출처 : '커리어넷 직업정보 19.10 일부 발췌)
    </div>
</div>
<h4 class="stit mTop40">보육교사의 직무</h4>
<div class="majorSystem mTop20">
    <p><img alt="★이미지alt★" src="http://stgimg.cuk.edu/practicum/cc/img_diagram.png"> </p>
    <p class="imageView">
        <a title="새창" class="btnType type0" href="http://stgimg.cuk.edu/practicum/cc/img_diagram.png" target="_blank">
            <span class="inner">
                <span class="bg type0">확대 보기</span>
            </span>
        </a>
    </p>
    <div class="blind">
        <dl>
            <dt>보육교사</dt>
            <dd>행정 및 사무</dd>
            <dd>보육활동 기획 및 분석</dd>
            <dd>프로그램 개발</dd>
            <dd>영유아 보호</dd>
            <dd>전문성 계발</dd>
            <dd>시설관리</dd>
            <dd>지역사회 네트워킹</dd>
            <dd>학부모상담</dd>
        </dl>
    </div>
</div>
<h4 class="stit mTop40">자격증 취득 후 진로</h4>
<p class="paragraph">보육교사는 영유아를 대상으로 발달에 적합한 실제에 기초하여 영유아의 전인적 발달을 도모하고, 성장과 발달에 영향을 미치는 동시에 가족의 안녕과 건강을 지원하는 전문가입니다.</p>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li>보육교사</li>
            <li>육아종합지원센터 보육 · 전문요원</li>
            <li>건강가정지원센터 아이돌보미</li>
            <li>방과후교사</li>
            <li>영유아 및 아동대상 교육기관운영</li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">문의처</h4>
<h5 class="sListTit type0 mTop0">한국보육진흥원-보육인력국가자격증</h5>
<p class="paragraph">- 전화 : 1661-5666</p>
<div class="flex-box flex-left mTop20">
    <a title="새창 " class="btnType type5 " href="https://chrd.childcare.go.kr/" target="_blank"><span class="inner ">바로가기</span></a>
</div>