<h4 class="stit">자격증 취득절차</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>보육교사는 영유아를 대상으로 발달에 적합한 실제에 기초하여 영유아의 전인적 발달을 도모하고, 성장과 발달에 영향을 미치는 동시에 가족의 안녕과 건강을 지원하는 전문가입니다.</li>
            <li>아동학과는 보육교사 자격강화에 따른 대면교육을 통해 실제적이고 전문적인 오프라인 수업을 준비하고 있습니다. 또한 보육교사 재교육을 통한 전문성 함양을 위해, 통합적 노력을 준비하고 있습니다.</li>
            <li>저출산 시대에 아동 개별적 강점과 창의적 능력을 발견하고 신장시켜주는 전문적인 지원을 추구합니다.</li>
        </ul>
    </div>
</div>
<div class="boxType type1">
    <div class="flex-box">
        <div>
            <h5 class="sListTit">한국보육진흥원-보육인력국가자격증</h5>
            <p class="paragraph">- 전화 : 1661-5666</p>
        </div>
        <div class="left-auto">
            <a title="새창" class="btnType type5" href="https://chrd.childcare.go.kr" target="_blank"><span class="inner">바로가기</span></a>
        </div>
    </div>
</div>
<!-- 절차 -->
<div class="step-wrap license mTop30">
    <div class="box step01">
        <div class="step-box">
            <span class="title">1단계</span>
        </div>
        <div class="step-con-box bg">
            <span>고려사이버대학교 입학</span>
        </div>
        <div class="step-con-box">아동학과(타학과 가능)</div>
    </div>
    <div class="box step02">
        <div class="step-box">
            <div class="step-triangle"></div>
            <span class="title">2단계</span>
        </div>
        <div class="half-box">
            <div class="step-con-box half">2급 관련 교과목 이수</div>
            <span class="plus"></span>
            <div class="step-con-box half">졸업최소이수학점 이수</div>
        </div>
    </div>
    <div class="box step03">
        <div class="step-box">
            <div class="step-triangle"></div>
            <span class="title">3단계</span>
        </div>
        <div class="step-con-box">학부 졸업</div>
    </div>
    <div class="box step04">
        <div class="step-box">
            <div class="step-triangle"></div>
            <span class="title">4단계</span>
        </div>
        <div class="step-con-box bg">
            <span>보육인력 국가자격증 홈페이지에서<br>자격증 신청 (인터넷 접수)</span>
        </div>
        <!-- list box -->
        <div class="list-box-wrapper">
            <!-- section 2단 -->
            <div class="section">
                <!-- list-box -->
                <div class="list-box  stage-2">
                    <div class="title"><span>1</span>신청 및 서류제출</div>
                    <div class="con">
                        <div class="con-box">
                            <ul class="listType type11">
                                <li>인터넷 신청</li>
                                <li>수수료결제</li>
                                <li>서류제출</li>
                            </ul>
                        </div>
                        <!-- 1단 + 리스트 -->
                    </div>
                </div>
                <!-- list-box -->
                <!-- list-box -->
                <div class="list-box stage-2">
                    <div class="title"><span>2</span>자격 심사</div>
                    <div class="con">
                        <div class="con-box">
                            <ul class="listType type11">
                                <li>서류검정 결과 자격기준 충족시 인정 판정</li>
                                <li>서류검정 겨로가 자격기준 미충족 시 보류
                                    <br><span class="addTxt">(보완서류 제출) 또는 불인정 판정</span></li>
                                <li>서류검정 결과 특수사례 해당시 자격검정 위원회 심의</li>
                            </ul>
                        </div>
                        <!-- 1단 + 리스트 -->
                    </div>
                </div>
                <!-- list-box -->
            </div>
            <!-- //section 2단-->
            <!-- section 2단 -->
            <div class="section">
                <!-- list-box -->
                <div class="list-box  stage-2">
                    <div class="title"><span>3</span>발표</div>
                    <div class="con">
                        <div class="con-box normal">합격자발표</div>
                        <!-- 1단 +  기본 -->
                    </div>
                </div>
                <!-- list-box -->
                <!-- list-box -->
                <div class="list-box stage-2">
                    <div class="title"><span>4</span>자격증(확인서) 교부</div>
                    <div class="con">
                        <div class="con-box normal">자격증(확인서) 제작 자격증 발송</div>
                        <!-- 1단 +  기본 -->
                    </div>
                </div>
                <!-- list-box -->
            </div>
            <!-- //section 2단-->
        </div>
        <!-- //list-box -->
    </div>
</div>
<!-- //절차 -->