<h4 class="stit">사회복지현장실습</h4>
<h5 class="sListTit slash">개요</h5>
<p class="paragraph ">보육실습은 보육교사를 희망하는 학생이 대학의 지도교수와 실습기관의 지도교사의 지도를 받으며 보육 현장에서 보육 교사로서의 경험을 해보는 활동으로 정의할 수 있다. 즉, 보육교사 양성의 필수 과정으로 보육 교사가 갖추어야 할 지식, 기술, 태도 등을 실제 보육 현장에서 직·간접적 경험을 통해서 습득하는 모든 과정을 의미한다. 보육실습은 현장에 대한 생생한 경험으로 인해 교직에 대한 인식과 태도의 형성 및 보육 교사로서 필요한 지식 획득 과정에 직접적인 영향을 미치는 중요한 과정이다. </p>
<h5 class="sListTit slash mTop20">교육목적</h5>
<p class="paragraph ">보육실습은 보육교사가 되기 위한 필수적인 과정으로, 보육실습의 목적은 첫째 법령이 인정하는 보육교사의 자격을 취득하는 것, 둘째 보육교사로서의 자질을 높이는 것이라 할 수 있다. </p>
<h5 class="sListTit slash mTop20">기관요건</h5>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li>법적으로 아동정원 15인 이상 인가받고, 평가인증을 유지하고 있는 어린이집</li>
            <li>교육과정 및 방과후과정을 운영하는 유치원(인가증에 '종일제' 명시되어 있는 기관)</li>
            <li>근무지실습 불가</li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">실습지도사 자격요건</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>실습생이 실습을 진행할 당시 해당 어린이집 보육교사로 임면보고 된 교사</li>
            <li>보육교사 1급 자격증 또는 유치원 정교사 1급 자격증을 소지한 교사</li>
            <li>원장은 실습지도 불가
                <br>단, 다음에 해당되어 원장이 보육교사를 겸임하고 있는 경우 실습지도 가능(교사로 임면보고 되어 있는 원장)
                <ul class="n-list-type ">
                    <li>- 보육정원 20인 이하 어린이집 원장</li>
                    <li>- 시장·군수·구청장이 특례를 인정한 정원 21~39인 어린이집 원장</li>
                </ul>
            </li>
            <li>교사 1인당 3명 이내 실습생만 지도 가능(하루라도 지도하는 실습생이 3명을 초과한다면 실습 불인정)</li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">신청자격</h4>
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="tableType type0 top0 special-col-table-wrapper mTop10 table-overflow">
    <table>
        <caption>
            신청자격 표
        </caption>
        <colgroup>
            <col style="width: 100px;">
            <col style="width: 300px;">
            <col style="width: 300px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">적용법령</th>
                <th scope="col">선수과목</th>
                <th scope="col">비고</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">2017년 이후 법령</th>
                <td class="leftTxt">
                    <p class="paragraph"><strong>총 6과목(필수5+선택1)</strong></p>
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li><strong>필수 :</strong> 보육학개론, 영유아발달, 보육과정, 영유아교수방법, 영유아프로그램 개발과 평가</li>
                                <li><strong>선택 :</strong> 아동수학지도, 아동과학지도 중 택1</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">2014년 이후 법령</th>
                <td class="leftTxt">
                    <p class="paragraph"><strong>총 6과목(필수3+선택3)</strong></p>
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li><strong>필수 : </strong> 보육학개론, 영아발달, 유아발달</li>
                                <li><strong>선택 :</strong> 영유아교육 영역 중 택3</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="leftTxt">
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li>영아발달, 유아발달 교과목 중 1과목만 이수한 경우 : 영유아 발달 추가로 이수(영아발달+영유아발달 또는 유아발달+영유아발달)</li>
                                <li>영아발달, 유아발달 교과목 2과목을 모두 이수할 수 없는 경우 : 영유아발달 + 선택과목 중 영역에 상관없이 1과목 추가 이수</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">2014년 이전 법령</th>
                <td class="leftTxt">
                    <p class="paragraph"><strong>총 5과목(필수1+선택4)</strong></p>
                    <div class="listType type3">
                        <div class="wrap close">
                            <ul class="desc">
                                <li><strong>필수 :</strong> 보육학개론</li>
                                <li><strong>선택 :</strong> 아동발달, 영아발달, 유아발달, 영유아발달 중 택1</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="listType type3 mTop10">
    <div class="wrap close ">
        <ul class="desc ">
            <li>편(재)입학생의 경우 동학년 기준 법령으로 적용</li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">실습시간</h4>
<div class="listType type3 ">
    <div class="wrap close ">
        <ul class="desc ">
            <li>월~금, 1일 8시간, 총240시간으로 6주간 연속적으로 실시(휴일 제외 30일 연속)</li>
            <li>평일 오전 9시부터 오후 7시 사이에 실습한 경우만 인정(1일 8시간을 초과할 수 없음)</li>
            <li>수강학기의 개강과 종강 사이의 기간 내에 진행</li>
            <li>본교 : 학기중 2회 분리실습가능</li>
        </ul>
    </div>
</div>
<h4 class="stit mTop40">실습 진행절차</h4>
<div class="list-box-wrapper type02 mTop10">
    <div class="step-box pattern type01">
        <span>실습 전 : 실습 대상자 확인 및 실습기관 선정</span>
    </div>
    <div class="section">
        <div class="list-box stage-3">
            <div class="title"><span>1</span>실습대상자 확인(학생)</div>
            <div class="con">
                <div class="con-box">
                    <ul class="listType type11">
                        <li>4학기, 66학점 이상 이수자</li>
                        <li>실습선수과목 이수한 자<br>(학습통계 > 학습설계 확인)</li>
                    </ul>
                </div>
                <div class="btn-box">
                    <a title="새창 " class="btnType type4 no-radius" href="http://stgpracticum.cuk.edu/142015.do" target="_self"><span class="inner ">바로가기</span></a>
                </div>
            </div>
        </div>
        <div class="list-box stage-3">
            <div class="title"><span>2</span>실습기관 선정(학생) </div>
            <div class="con">
                <div class="con-box">
                    <ul class="listType type11">
                        <li>실습기관요건 및 실습지도자 요건에 부합하는 기관 선정</li>
                        <li>어린이집정보공개포털 홈페이지에서 어린이집 정보확인 </li>
                    </ul>
                </div>
                <div class="btn-box">
                    <a title="새창 " class="btnType type4 no-radius" href="http://info.childcare.go.kr/info/main.jsp" target="_blank"><span class="inner ">바로가기</span></a>
                </div>
            </div>
        </div>
        <div class="list-box stage-3">
            <div class="title"><span>3</span>학생<div class="arrow type02"></div>기관</div>
            <div class="con">
                <div class="con-box normal">실습 동의 받기</div>
                <!-- 1단 +  기본 -->
            </div>
        </div>
    </div>
    <!-- //section -->
    <div class="step-box pattern type02">
        <span>개강 전 : 사전실습신청 및 '보육실습' 과목 수강신청</span>
    </div>
    <div class="section">
        <div class="list-box stage-3">
            <div class="title"><span>4</span> 사전실습신청(학생<div class="arrow type02"></div>학교)</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">사전실습신청 (보육실습생 신상서, 보육실습 의뢰 요청서 제출)</div>
                    <div class="con-box border-top">
                        <p class="addTxt">LIX.cuk.edu 진행</p>
                        <div class="btn-box">
                            <a title="새창 " class="btnType type4 no-radius" href="https://lix.cuk.edu" target="_blank"><span class="inner ">바로가기</span></a>
                        </div>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box  stage-3">
            <div class="title"><span>5</span>실습승인(학교<div class="arrow type02"></div>학생, 기관)</div>
            <div class="con">
                <div class="con-box">
                    <ul class="listType type11">
                        <li>제출된 사전실습신청서류 검토 후 승인여부 결정</li>
                        <li>실습 승인(SMS, E-mail 안내)</li>
                        <li>기관으로 실습의뢰공문 발송(등기우편)</li>
                    </ul>
                </div>
                <!-- 1단 + 리스트 -->
            </div>
        </div>
        <div class="list-box stage-3">
            <div class="title"><span>6</span>수강신청(학생)</div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">[보육실습] 과목 수강신청</div>
                    <div class="con-box border-top"><strong class="point">보육실습 OT 필수 참석</strong></div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
    </div>
    <!-- //section -->
    <div class="step-box pattern type03">
        <span>개강 후(실습 진행 및 종결) : 기관실습진행 및 회신서류 제출</span>
    </div>
    <div class="section">
        <div class="list-box stage-4">
            <div class="title"><span>7</span>실습진행
                (학생<div class="arrow type02"></div>학교, 기관)
            </div>
            <div class="con">
                <!-- 위+아래 -->
                <div class="column">
                    <div class="con-box">
                        <ul class="listType type11">
                            <li>[보육실습] 과목 강의 수강 및 학습활동 수행(온라인)</li>
                            <li>기관실습 진행</li>
                        </ul>
                    </div>
                    <div class="con-box border-top">
                        <strong class="point">실습평가회 필수 참석</strong>
                    </div>
                </div>
                <!-- //위+아래 -->
            </div>
        </div>
        <div class="list-box stage-4">
            <div class="title"><span>8</span>실습회신서류제출 (학생, 기관<div class="arrow type02"></div>학교)</div>
            <div class="con">
                <div class="con-box">
                    <ul class="listType type11">
                        <li>실습일지(학생) 발송</li>
                        <li>기관회신서류 학교로 발송(실습생 평가서, 보육실습 확인서 등)</li>
                    </ul>
                </div>
                <!-- 1단 + 리스트 -->
            </div>
        </div>
        <div class="list-box stage-4">
            <div class="title"><span>9</span>확인서발송 (학교<div class="arrow type02"></div>학생)</div>
            <div class="con">
                <div class="con-box normal">보육실습 성적 공지 후 학생 배송지 주소로 [보육실습확인서]등기 발송</div>
                <!-- 1단 +  기본 -->
            </div>
        </div>
        <div class="list-box stage-4">
            <div class="title"><span>10</span>자격증 신청(학생)</div>
            <div class="con">
                <div class="con-box">
                    <ul class="listType type11">
                        <li>보육교사 자격증 신청
                            <br>- 관련 과목 이수 후 졸업한 자만 신청 가능
                            <br>- 자격증 신청 기관 : 한국보육진흥원-보육인력국가자격증(1661-5666)
                        </li>
                    </ul>
                </div>
                <!-- 1단 + 리스트 -->
            </div>
        </div>
    </div>
    <!-- //section -->
</div>
<!-- 실습안내 진행절차 - guid -->
<div class="checkPointBox mTop30">
    <!-- boxType -->
    <h5 class="checkPoint qmark">체크포인트</h5>
    <div class="boxType type0">
        <!-- listType -->
        <div class="listType type3">
            <div class="wrap close">
                <ul class="desc">
                    <li>실습이 진행되는 학기에 반드시 [보육실습]강의를 수강</li>
                    <li>실습과목의 성적이 B학점 이상이어야 자격증 취득 가능</li>
                    <li>근무시간을 엄수하여야 함</li>
                    <li>결근, 지각, 조퇴 및 사적인 외출 등은 원칙적으로 금함 </li>
                    <li>실습비용은 실습생 본인 부담</li>
                </ul>
            </div>
        </div>
    </div>
</div>