<h4 class="stit">자격증 개설 교과목</h4>
<div class="certificate spaces03 mTop20">
    <ul class="certificate-tab">
        <li class="tab-link active" data-tab="tab-1">2017년 이후 법령</li>
        <li class="tab-link" data-tab="tab-2">2014년 이후 법령</li>
        <li class="tab-link" data-tab="tab-3">2014년 이전 법령</li>
    </ul>
    <div id="tab-1" class="tab-content active">
        <h5 class="sListTit slash">보육교사 2급 자격증 개설과목</h5>
        <div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
        <!-- table -->
        <div class="tableType type0 special-col-table-wrapper table-overflow mTop10">
            <table>
                <caption>자격증 개설과목 표</caption>
                <colgroup>
                    <col style="width: 130px;">
                    <col style="width: 120px;">
                    <col style="width: 250px;">
                    <col style="width: 200px;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" colspan="2" class="th-border-bottom">영역 및 이수과목</th>
                        <th scope="col">해당과목</th>
                        <th scope="col">학기 (개설학과)</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="2" colspan="2">교사 인성<br>2과목 필수</th>
                        <td class="leftTxt">보육교사(론)<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">아동권리와 복지<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <!-- //2과목 필수 -->
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="17">보육 지식과 기술</th>
                        <th class="thBg centerTxt" scope="row" rowspan="9">필수<br>9과목 이상 선택</th>
                        <td class="leftTxt">보육학개론</td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">영유아발달</td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">보육과정</td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">놀이지도<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">영유아교수방법</td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">아동생활지도<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">아동수학지도<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">아동동작<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">언어지도<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <!-- //필수 -->
                    <tr>
                        <th class="thBg centerTxt" scope="row" rowspan="8">선택<br>4과목 이상 선택</th>
                        <td class="leftTxt">인간행동과 사회환경</td>
                        <td class="centerTxt">전체학기(사회복지)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">가족복지론</td>
                        <td class="centerTxt">2학기(사회복지)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">아동상담</td>
                        <td class="centerTxt">2학기(상담)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">영유아보육프로그램개발과 평가 </td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">아동건강교육</td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">정신건강</td>
                        <td class="centerTxt">2학기(청소년)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">어린이집운영과 관리</td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">지역사회복지론</td>
                        <td class="centerTxt">2학기(사회복지)</td>
                    </tr>
                    <!-- //선택 -->
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" colspan="2" rowspan="2">보육 실무 2과목 필수</th>
                        <td class="leftTxt">아동관찰 및 행동연구<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">보육실습<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">전체학기(아동)</td>
                    </tr>

                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" colspan="2">전체</th>
                        <td class="centerTxt" colspan="2"><strong>17과목(51학점) 이상</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- // table -->
    </div>
    <!-- //tab-1 -->
    <div id="tab-2" class="tab-content">
        <h5 class="sListTit slash">보육교사 2급 자격증 개설과목</h5>
        <div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
        <!-- table -->
        <div class="tableType type0 special-col-table-wrapper table-overflow mTop10">
            <table>
                <caption>보육교사 2급 자격증 개설과목</caption>
                <colgroup>
                    <col style="width: 250px;">
                    <col style="width: 125px;">
                    <col style="width: 125px;">
                    <col style="width: 200px;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">영역 및 이수과목</th>
                        <th scope="col" colspan="2" class="th-border-bottom">해당과목</th>
                        <th scope="col">학기 (개설학과)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="6">보육필수 6과목 필수</th>
                        <td class="leftTxt" colspan="2">보육학개론</td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">영아발달</td>
                        <td class="leftTxt" rowspan="2">(영유아발달)</td>
                        <td class="centerTxt" rowspan="2">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">유아발달</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">보육교사(론)<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">보육과정</td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">아동복지론 (아동권리와 복지)<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <!-- //보육필수 -->

                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="4">발달 및 지도<br>1과목 이상 선택</th>
                        <td class="leftTxt" colspan="2">인간행동과 사회환경</td>
                        <td class="centerTxt">전체학기(사회복지)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">아동관찰 및 행동연구<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">아동상담</td>
                        <td class="centerTxt">2학기(상담)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">아동생활지도<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <!-- //발달 및 지도 -->
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="6">영유아교육<br>6과목 이상 선택</th>
                        <td class="leftTxt" colspan="2">영유아교수방법</td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">아동동작<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">아동수학지도<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">놀이지도<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">언어지도<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">영유아프로그램개발과 평가 <br>(영유아보육프로그램개발과평가)</td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <!-- //영유아 교육 -->
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="2">건강·영양 및 안전<br>2과목 이상 선택</th>
                        <td class="leftTxt" colspan="2">아동건강교육</td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">정신건강</td>
                        <td class="centerTxt">2학기(청소년)</td>
                    </tr>
                    <!-- //건강.영양 -->
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="3">가족 및 지역사회 협력 등<br>1과목 이상 선택</th>
                        <td class="leftTxt" colspan="2">어린이집 운영과 관리</td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">가족복지론</td>
                        <td class="centerTxt">2학기(사회복지)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt" colspan="2">지역사회복지론</td>
                        <td class="centerTxt">2학기(사회복지)</td>
                    </tr>
                    <!-- //건강.영양 -->
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row">보육실습<br>1과목 필수</th>
                        <td class="leftTxt" colspan="2">보육실습<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">전체학기(아동)</td>
                    </tr>
                    <!-- //보육실습 -->
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row">전체</th>
                        <td class="centerTxt" colspan="3"><strong>17과목(51학점) 이상</strong></td>
                    </tr>
                    <!-- //전체 -->
                </tbody>
            </table>
        </div>
        <!-- // table -->
        <ul class="n-list-type mTop10">
            <li><img src="http://stgimg.cuk.edu/university/ico/ico_no01.gif" alt="대면교과목"> : 대면교과목(2017년 이후 이수한 경우)</li>
            <li>본 과목의 개설학기는 2019년 3월 기준으로 작성됨(변경 될 가능성 있음)</li>
        </ul>
    </div>
    <!-- //tab-2 -->

    <div id="tab-3" class="tab-content">
        <h5 class="sListTit slash">보육교사 2급 자격증 개설과목</h5>
        <div class="tableMGuide top20"> 좌ㆍ우 스크롤 이용</div>
        <!-- table -->
        <div class="tableType type0 special-col-table-wrapper table-overflow mTop10">
            <table>
                <caption>자격증 개설과목 표</caption>
                <colgroup>
                    <col style="width: 250px;">
                    <col style="width: 250px;">
                    <col style="width: 200px;">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">영역 및 이수과목</th>
                        <th scope="col">해당과목</th>
                        <th scope="col">개설학기</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="4">보육기초<br>4과목 필수</th>
                        <td class="leftTxt">보육학개론</td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">영유아발달</td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">아동복지론(아동권리와 복지)<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">보육과정</td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <!-- //보육기초 -->
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="4">발달 및 지도<br>1과목 이상 선택</th>
                        <td class="leftTxt">인간행동과 사회환경</td>
                        <td class="centerTxt">전체학기(사회복지)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">아동관찰 및 행동연구<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">아동상담</td>
                        <td class="centerTxt">2학기(상담)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">아동생활지도<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <!-- //발달 및 지도 -->
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="6">영유아교육<br>3과목 이상 선택</th>
                        <td class="leftTxt">영유아교수방법</td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">아동수과학지도<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"><br>(아동수학지도 또는 아동과학지도)</td>
                        <td class="centerTxt">수학:1학기(아동)<br>과학:2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">아동음악과 동작(아동동작)<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">놀이지도<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">언어지도<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">영유아프로그램개발과 평가 </td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <!-- //발달 및 지도 -->
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="2">건강·영양 및 안전<br>2과목 이상 선택</th>
                        <td class="leftTxt">아동건강교육</td>
                        <td class="centerTxt">2학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">정신건강</td>
                        <td class="centerTxt">2학기(청소년)</td>
                    </tr>
                    <!-- //발달 및 지도 -->

                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row" rowspan="5">가족 및 지역사회 협력 등<br>1과목 이상 선택</th>
                        <td class="leftTxt">보육교사(론)<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">어린이집운영과관리</td>
                        <td class="centerTxt">1학기(아동)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">가족복지론</td>
                        <td class="centerTxt">2학기(사회복지)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">자원봉사론</td>
                        <td class="centerTxt">2학기(사회복지)</td>
                    </tr>
                    <tr>
                        <td class="leftTxt">지역사회복지론</td>
                        <td class="centerTxt">2학기(사회복지)</td>
                    </tr>
                    <!-- //지역사회협력 -->
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row">보육실습<br>1과목 필수</th>
                        <td class="leftTxt">보육실습<img alt="대면교과목" src="http://img.cuk.edu/university/ico/ico_no01.gif" style="margin-left:4px;"></td>
                        <td class="centerTxt">전체학기(아동)</td>
                    </tr>
                    <!-- //지역사회협력 -->
                    <tr>
                        <th class="firstCell thBg centerTxt" scope="row">전체</th>
                        <td class="centerTxt" colspan="2"><strong>12과목(36학점) 이상</strong></td>
                    </tr>
                    <!-- //지역사회협력 -->
                </tbody>
            </table>
        </div>
        <!-- // table -->
        <ul class="n-list-type mTop10">
            <li><img src="http://stgimg.cuk.edu/university/ico/ico_no01.gif" alt=""> : 대면교과목(2017년 이후 이수한 경우)</li>
            <li>본 과목의 개설학기는 2019년 3월 기준으로 작성됨(변경 될 가능성 있음)</li>
        </ul>
    </div>
    <!-- //tab-3 -->
</div>
<script>
$(document).ready(function() {

    $('ul.certificate-tab li').click(function() {
        var tab_id = $(this).attr('data-tab');

        $('ul.certificate-tab li').removeClass('active');
        $('.tab-content').removeClass('active');

        $(this).addClass('active');
        $("#" + tab_id).addClass('active');
    });
})
</script>