<h4 class="stit">본교 협약기관</h4>
<div class="tableMGuide mTop0"> 좌ㆍ우 스크롤 이용 </div>
<div class="tableType type0 top0 special-col-table-wrapper mTop10 table-overflow">
    <table>
        <caption>
            본교 협약기관 표
        </caption>
        <colgroup>
            <col style="width: 100px;">
            <col style="width: 300px;">
            <col style="width: 300px;">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">지역</th>
                <th scope="col">기관명</th>
                <th scope="col">주소</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row" rowspan="3">서울특별시</th>
                <td class="leftTxt">고려대학교(안암) 국제어학원 한국어센터 </td>
                <td class="leftTxt">서울특별시 성북구 안암로 145 </td>
            </tr>
            <tr>
                <td class="leftTxt">한양여자대학교 한국어교육센터 </td>
                <td class="leftTxt">서울특별시 성동구 살곶이길 200 </td>
            </tr>
            <tr>
                <td class="leftTxt">(사)글로벌 호프, 희망의 마을 센터 </td>
                <td class="leftTxt">서울 성동구 자동차시장1길 70, 자동차매매상가 D동, 나열 9호 </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">경기 </th>
                <td class="leftTxt">(사)국격없는 마을, 김포시외국인주민지원센터 </td>
                <td class="leftTxt">경기도 김포시 양촌읍 학운리 2769번지 (황금로 110번길 52) </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">경북 </th>
                <td class="leftTxt">영남신학대학교 국제교류교육원 </td>
                <td class="leftTxt">경상북도 경산시 진량읍 봉회1길 26 </td>
            </tr>
            <tr>
                <th class="firstCell thBg centerTxt" scope="row">세종특별시 </th>
                <td class="leftTxt">고려대학교(세종) 국제교류교육원 국제교육센터 </td>
                <td class="leftTxt">세종특별자치시 세종로 2511 고려대학교 세종캠퍼스 농심국제관 102호(국제교육센터) </td>
            </tr>
        </tbody>
    </table>
</div>